<div class="container mb-5 mt-5">
  <div class="row">
    <div class="wrapperChucNang col-md-3">
      <app-profile-sidebar></app-profile-sidebar>
    </div>

    <div class="wrapperTaiKhoan col-md-8">
      <div>
        <div>
          <!-- modal: add address -->
          <div
            [ngClass]="
              isAddAddressModalShow
                ? 'modal-new-address modal in'
                : 'modal-new-address modal'
            "
          >
            <div class="modal-container">
              <div class="modal-content">
                <div class="modal-header">
                  <div
                    class="modal-close"
                    (click)="toggleAddAddressesModal(false)"
                  >
                    <span class="screen-reader-text">close</span>
                  </div>
                  <h4 class="modal-title">Thêm địa chỉ mới</h4>
                </div>
                <div class="checkout-shipping">
                  <div class="checkout-shipping-form">
                    <form [formGroup]="addAddressForm">
                      <div class="row">
                        <!-- Họ tên người nhận -->
                        <div class="form-group col-sm-6">
                          <label>Họ tên người nhận:</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Nhập họ tên"
                            formControlName="hoTen"
                            [ngClass]="
                              addAddressForm.get('hoTen').invalid &&
                              addAddressForm.get('hoTen').touched
                                ? 'is-invalid'
                                : ''
                            "
                          />
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              addAddressForm
                                .get('hoTen')
                                .hasError('customRequired')
                            "
                          >
                            Họ tên không được bỏ trống
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              addAddressForm.get('hoTen').hasError('pattern')
                            "
                          >
                            Họ tên chỉ được gồm các chữ cái
                          </div>
                        </div>

                        <!-- Số điện thoại -->
                        <div class="form-group col-sm-6">
                          <label>Số điện thoại:</label>
                          <input
                            type="text"
                            placeholder="Nhập số điện thoại"
                            class="form-control"
                            formControlName="sdt"
                            [ngClass]="
                              addAddressForm.get('sdt').invalid &&
                              addAddressForm.get('sdt').touched
                                ? 'is-invalid'
                                : ''
                            "
                          />
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              addAddressForm
                                .get('sdt')
                                .hasError('customRequired')
                            "
                          >
                            SĐT không được bỏ trống.
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              addAddressForm.get('sdt').hasError('pattern') &&
                              !addAddressForm
                                .get('sdt')
                                .hasError('customRequired')
                            "
                          >
                            SĐT không hợp lệ
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <!-- Tỉnh/Thành phố -->
                        <div class="form-group col-sm-6">
                          <label>Tỉnh/Thành phố:</label>
                          <select
                            class="form-control"
                            (change)="getAllDistrictsByProvince('add')"
                            formControlName="tinh"
                            [ngClass]="
                              addAddressForm.get('tinh').invalid &&
                              addAddressForm.get('tinh').touched
                                ? 'is-invalid'
                                : ''
                            "
                          >
                            <option value="">Chọn Tỉnh/Thành phố</option>
                            <option
                              *ngFor="let p of provinces"
                              [value]="p.ProvinceName"
                            >
                              {{ p.ProvinceName }}
                            </option>
                          </select>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              addAddressForm.get('tinh').hasError('required')
                            "
                          >
                            Tỉnh/Thành phố không được bỏ trống
                          </div>
                        </div>

                        <!-- Quận/Huyện -->
                        <div class="form-group col-sm-6">
                          <label>Quận/Huyện</label>
                          <select
                            class="form-control"
                            (change)="getAllWardsByDistrict('add')"
                            formControlName="huyen"
                            (click)="checkProvinceSelection()"
                            [ngClass]="
                              addAddressForm.get('huyen').invalid &&
                              addAddressForm.get('huyen').touched
                                ? 'is-invalid'
                                : ''
                            "
                          >
                            <option value="" selected>Chọn Quận/Huyện</option>
                            <option
                              *ngFor="let d of districts"
                              value="{{ d.DistrictName }}"
                            >
                              {{ d.DistrictName }}
                            </option>
                          </select>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              addAddressForm.get('huyen').hasError('required')
                            "
                          >
                            Quận/Huyện không được bỏ trống
                          </div>
                        </div>
                      </div>

                      <!-- Phường/Xã -->
                      <div class="form-group">
                        <label>Phường/Xã</label>
                        <select
                          class="form-control"
                          formControlName="xa"
                          (click)="checkDistrictSelection()"
                          [ngClass]="
                            addAddressForm.get('xa').invalid &&
                            addAddressForm.get('xa').touched
                              ? 'is-invalid'
                              : ''
                          "
                        >
                          <option value="" selected>Chọn Phường/Xã</option>
                          <option *ngFor="let w of wards" [value]="w.WardName">
                            {{ w.WardName }}
                          </option>
                        </select>
                        <div
                          class="invalid-feedback"
                          *ngIf="addAddressForm.get('xa').hasError('required')"
                        >
                          Phường/Xã không được bỏ trống
                        </div>
                      </div>

                      <!--  -->
                      <div class="form-group">
                        <label for="dia-chi">Địa chỉ chi tiết</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="duong"
                          [ngClass]="
                            addAddressForm.get('duong').invalid &&
                            addAddressForm.get('duong').touched
                              ? 'is-invalid'
                              : ''
                          "
                        />
                        <div
                          class="invalid-feedback"
                          *ngIf="
                            addAddressForm
                              .get('duong')
                              .hasError('customRequired')
                          "
                        >
                          Số nhà - Đường/Địa chỉ chi tiết không được bỏ trống
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="
                            addAddressForm.get('duong').hasError('pattern')
                          "
                        >
                          Số nhà - Đường/Địa chỉ chi tiết không được hợp lệ
                        </div>
                      </div>

                      <div class="form-checkbox active">
                        <input
                          type="checkbox"
                          id="checkbox1"
                          value="true"
                          formControlName="macDinh"
                        />
                        <label for="checkbox1"
                          ><span>Đặt làm địa chỉ mặc định</span></label
                        >
                      </div>
                    </form>
                    <div class="button">
                      <button class="btn-save round" (click)="addAddress()">
                        Lưu địa chỉ
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- modal: update address -->
          <div
            [ngClass]="
              isUpdateAddressModalShow
                ? 'modal-new-address modal in'
                : 'modal-new-address modal'
            "
          >
            <div class="modal-container">
              <div class="modal-content">
                <div class="modal-header">
                  <div
                    class="modal-close"
                    (click)="toggleUpdateAddressesModal(false)"
                  >
                    <span class="screen-reader-text">close</span>
                  </div>
                  <h4 class="modal-title">Cập nhật địa chỉ</h4>
                </div>
                <div class="checkout-shipping">
                  <div class="checkout-shipping-form">
                    <form [formGroup]="updateAddressForm">
                      <div class="row">
                        <!-- Họ tên người nhận -->
                        <div class="form-group col-sm-6">
                          <label>Họ tên người nhận:</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Nhập họ tên"
                            formControlName="hoTen"
                            [ngClass]="
                              updateAddressForm.get('hoTen').invalid &&
                              updateAddressForm.get('hoTen').touched
                                ? 'is-invalid'
                                : ''
                            "
                          />
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              updateAddressForm
                                .get('hoTen')
                                .hasError('customRequired')
                            "
                          >
                            Họ tên không được bỏ trống
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              updateAddressForm.get('hoTen').hasError('pattern')
                            "
                          >
                            Họ tên chỉ được gồm các chữ cái
                          </div>
                        </div>

                        <!-- Số điện thoại -->
                        <div class="form-group col-sm-6">
                          <label>Số điện thoại:</label>
                          <input
                            type="text"
                            placeholder="Nhập số điện thoại"
                            class="form-control"
                            formControlName="sdt"
                            [ngClass]="
                              updateAddressForm.get('sdt').invalid &&
                              updateAddressForm.get('sdt').touched
                                ? 'is-invalid'
                                : ''
                            "
                          />
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              updateAddressForm
                                .get('sdt')
                                .hasError('customRequired')
                            "
                          >
                            SĐT không được bỏ trống.
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              updateAddressForm
                                .get('sdt')
                                .hasError('pattern') &&
                              !updateAddressForm
                                .get('sdt')
                                .hasError('customRequired')
                            "
                          >
                            SĐT không hợp lệ
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <!-- Tỉnh/Thành phố -->
                        <div class="form-group col-sm-6">
                          <label>Tỉnh/Thành phố:</label>
                          <select
                            class="form-control"
                            (change)="getAllDistrictsByProvince('update')"
                            formControlName="tinh"
                            [ngClass]="
                              updateAddressForm.get('tinh').invalid &&
                              updateAddressForm.get('tinh').touched
                                ? 'is-invalid'
                                : ''
                            "
                          >
                            <option value="">Chọn Tỉnh/Thành phố</option>
                            <option
                              *ngFor="let p of provinces"
                              [value]="p.ProvinceName"
                            >
                              {{ p.ProvinceName }}
                            </option>
                          </select>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              updateAddressForm.get('tinh').hasError('required')
                            "
                          >
                            Tỉnh/Thành phố không được bỏ trống
                          </div>
                        </div>

                        <!-- Quận/Huyện -->
                        <div class="form-group col-sm-6">
                          <label>Quận/Huyện</label>
                          <select
                            class="form-control"
                            (change)="getAllWardsByDistrict('update')"
                            formControlName="huyen"
                            (click)="checkProvinceSelection()"
                            [ngClass]="
                              updateAddressForm.get('huyen').invalid &&
                              updateAddressForm.get('huyen').touched
                                ? 'is-invalid'
                                : ''
                            "
                          >
                            <option value="" selected>Chọn Quận/Huyện</option>
                            <option
                              *ngFor="let d of districts"
                              value="{{ d.DistrictName }}"
                            >
                              {{ d.DistrictName }}
                            </option>
                          </select>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              updateAddressForm
                                .get('huyen')
                                .hasError('required')
                            "
                          >
                            Quận/Huyện không được bỏ trống
                          </div>
                        </div>
                      </div>

                      <!-- Phường/Xã -->
                      <div class="form-group">
                        <label>Phường/Xã</label>
                        <select
                          class="form-control"
                          formControlName="xa"
                          (click)="checkDistrictSelection()"
                          [ngClass]="
                            updateAddressForm.get('xa').invalid &&
                            updateAddressForm.get('xa').touched
                              ? 'is-invalid'
                              : ''
                          "
                        >
                          <option value="" selected>Chọn Phường/Xã</option>
                          <option *ngFor="let w of wards" [value]="w.WardName">
                            {{ w.WardName }}
                          </option>
                        </select>
                        <div
                          class="invalid-feedback"
                          *ngIf="
                            updateAddressForm.get('xa').hasError('required')
                          "
                        >
                          Phường/Xã không được bỏ trống
                        </div>
                      </div>

                      <!--  -->
                      <div class="form-group">
                        <label for="dia-chi">Địa chỉ chi tiết</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="duong"
                          [ngClass]="
                            updateAddressForm.get('duong').invalid &&
                            updateAddressForm.get('duong').touched
                              ? 'is-invalid'
                              : ''
                          "
                        />
                        <div
                          class="invalid-feedback"
                          *ngIf="
                            updateAddressForm
                              .get('duong')
                              .hasError('customRequired')
                          "
                        >
                          Số nhà - Đường/Địa chỉ chi tiết không được bỏ trống
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="
                            updateAddressForm.get('duong').hasError('pattern')
                          "
                        >
                          Số nhà - Đường/Địa chỉ chi tiết không được hợp lệ
                        </div>
                      </div>

                      <!-- <div class="form-checkbox active">
                        <input
                          type="checkbox"
                          id="checkbox1"
                          value="true"
                          formControlName="macDinh"
                        />
                        <label for="checkbox1"
                          ><span>Đặt làm địa chỉ mặc định</span></label
                        >
                      </div> -->
                    </form>
                    <div class="button">
                      <button class="btn-save round" (click)="updateAddress()">
                        Cập nhật địa chỉ
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- address list -->
          <div class="account-page-addresses p-3">
            <div class="account-page-title">
              <h1 class="title">Sổ địa chỉ</h1>
            </div>
            <div class="account-addresses-items">
              <div class="account-addresses-item" *ngFor="let a of addresses">
                <div class="info">
                  <div class="address">{{ formatAddress(a) }}</div>
                  <div class="name-phone">
                    <div class="name">{{ a.hoTen }}</div>
                    <div class="line"></div>
                    <div class="phone">{{ a.sdt }}</div>
                  </div>
                  <div class="address-type" *ngIf="a.macDinh">
                    <label class="label label-default"
                      ><svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.3337 11.1454C16.2768 11.724 18.3337 13.0456 18.3337 14.5833C18.3337 16.6544 14.6027 18.3333 10.0003 18.3333C5.39795 18.3333 1.66699 16.6544 1.66699 14.5833C1.66699 13.0456 3.72382 11.724 6.66699 11.1454M10.0003 14.1667V2.5L14.4318 5.22704C14.755 5.42595 14.9166 5.52541 14.9682 5.65071C15.0131 5.76 15.0096 5.88325 14.9584 5.98976C14.8997 6.11188 14.7326 6.20185 14.3984 6.38179L10.0003 8.75"
                          stroke="#DA291C"
                          stroke-width="1.2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                      <span>Địa chỉ mặc định</span></label
                    >
                  </div>
                  <div class="mt-3" *ngIf="!a.macDinh">
                    <button
                      class="btn btn-success rounded"
                      (click)="setDefaultAddress(a.id)"
                    >
                      Đặt thành mặc định
                    </button>
                  </div>
                </div>
                <div class="action-edit">
                  <span class="me-5" (click)="openUpdateModal(a.id)">Sửa</span>
                  <span (click)="deleteAddress(a.id)" *ngIf="!a.macDinh"
                    >Xóa</span
                  >
                </div>
              </div>
            </div>
            <div class="account-addresses-btn-addnew" style="width: 200px">
              <button
                class="btn btn-primary"
                (click)="toggleAddAddressesModal(true)"
              >
                Thêm địa chỉ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
