.dropdown-menu {
    /* width: 120%; */
    /* Đặt độ rộng là 100% */
    /* max-width: none; */
    /* Không giới hạn độ rộng tối đa */
    /* background-color: rgb(246, 246, 246); */
    background-color: rgba(255, 255, 255);
}

.timKiem {
    text-align: center;
    padding: 15px 0;
}

.order-task {
    display: flex;
    width: 1500px;
   

}

.slide-show {
    width: 750px;
    overflow: hidden;
 
    position: relative;
    padding: 0 15px;
   

}

.btn-preV  , .btn-next{
    border: none;
   border-radius: 50%;
}

.btn-preV {
    position: absolute;
    top: 10px;
    left: 0;
}

.btn-next {
    position: absolute;
    top: 10px;
    right: 0;
}

.textName {
    display: inline-block;
    /* Đảm bảo phần tử có thể nhận chiều rộng */
    max-width: 150px;
    /* Đặt chiều rộng tối đa của phần tử */
    white-space: nowrap;
    /* Ngăn chữ từ việc xuống dòng */
    overflow: hidden;
    /* Ẩn phần chữ không hiển thị */
    text-overflow: ellipsis;
    /* Hiển thị "..." khi chữ bị ẩn đi */
    font-weight: 500;
}

.product-suggestions {
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.customer-suggerstions {
    width: 100%;
    max-height: 300px;
    overflow-y: auto
}

.suggestion-item {
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: rgb(227, 226, 226) !important;
}

.order-number {
    cursor: pointer;
    background-color: #11398a;
    color: white;
    border-radius: 5px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 150px;
}

.order-number-active {
    cursor: pointer;
    background-color: rgb(247, 247, 247) !important;
    color: rgb(0, 0, 0);
}

.order-number i {
    color: white;
}

.order-number-active i {
    color: rgb(0, 0, 0);
    ;
}

.iconDelete {
    color: white;
}

.count {
    border: 0;
    max-width: 30%;
}


input:disabled {
    background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=text] {
    -moz-appearance: textfield;
    border: none;
    border-bottom: 1px solid black;
    /* Đường viền dưới màu đen */
    text-align: left;
}

input[type=number] {
    -moz-appearance: textfield;
    border: none;
    border-bottom: 1px solid black;
    /* Đường viền dưới màu đen */
    text-align: right;
}

.input-default {
    border: none;
    border-bottom: 1px solid black;
    /* Đường viền dưới màu đen */
}

.hr-custom {
    border: 0;
    height: 2px;
    background-color: black;
    margin: 8px 8px;
    font-weight: bold;
}

.hr-customer {
    height: 1px;
    background-color: black;
    border: 0;
    margin: 1px 1px;
}

.gia-chua-giam {
    font-size: 15px;
    text-decoration: line-through;
}

.gia-da-giam {
    font-weight: bold;
    font-size: 13px;
    color: rgba(251, 23, 23, 0.962);
}

.thumbnail-san-pham {
    width: 70px;
    height: 70px;
}

.san-pham-mau-sac {
    font-size: 13px;
}

.san-pham-kich-co {
    font-size: 15px;
}

.san-pham-ma {
    font-size: 13px;
}

.san-pham-ten {
    font-size: 13px;
}



.product-modal {
    width: 125% !important;
}

.right-align {
    text-align: right;
}

/* Bình  */
.taskbar {
    padding: 10px;
    background-color: #574afb;
    display: flex;
}

.dropdown input {
    border-radius: 15px;
    border: none;
    padding: 10px;

}


.btn-create i {
    font-size: 30px;
}

/* styles.css hoặc tệp CSS tùy chỉnh của bạn */
.custom-tooltip {
    background-color: #333;
    /* Màu nền của tooltip */
    color: #fff;
    /* Màu chữ của tooltip */
    border-radius: 4px;
    /* Bo tròn góc của tooltip */
    font-size: 15px;
    /* Cỡ chữ của tooltip */
}

.custom-select::-ms-expand {
    display: none;
}

.qr-code {
    color: black;
    cursor: pointer;
}

.cart-icon {
    position: relative;
    display: inline-block;

}

.cart-quantity {
    position: absolute;
    top: -0.3em;
    right: -0.4em;
    color: white;
    font-weight: bold;
    background-color: #ff0000;
    font-size: 13px;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-money-part {
    display: flex;
    justify-content: space-between;
}

.sidebar-money-part-left {
    margin-left: 0;
}

.sidebar-money-part-right {
    margin-right: 0;
}

.container-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Đảm bảo container có chiều cao 100% của parent */
}

.container-sidebar-mua-hang {
    margin-top: auto;
    /* Đảm bảo rằng phần tử cuối cùng sẽ luôn nằm ở cuối cùng */
}