<app-main-heading
  [icon]="icon"
  [mainHeading]="'khách Hàng'"
  [title]="'Sửa thông tin khách Hàng'"
></app-main-heading>

<div class="row gutters mt-3">
  <div class="col-sm-12">
    <div class="row gutters">
      <div class="col-sm-12">
        <form class="card">
          <div class="row g-0">
            <!-- thông tin khách hàng -->
            <div class="col-md-5">
              <div
                class="card-header border-bottom border-light-subtle border-3"
              >
                <h4>Thông tin khách hàng</h4>
              </div>
              <div class="card-body">
                <form [formGroup]="formUpdateKH">
                  <input type="text" formControlName="id" hidden />
                  <div class="form-group">
                    <div class="d-flex justify-content-center">
                      <input
                        type="file"
                        (change)="onFileSelected($event)"
                        (change)="imageChange($event)"
                        #fileInput
                        style="display: none"
                      />
                      <button (click)="openFileInput()" class="button-anh">
                        <img
                          *ngIf="!imageUrl"
                          [src]="khDetail?.anhUrl"
                          alt="Selected Image"
                        />
                        <img
                          *ngIf="imageUrl"
                          [src]="imageUrl"
                          alt="Selected Image"
                        />
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="input_label"
                          ><b style="color: red">*</b>Tên khách hàng</label
                        >
                        <input
                          type="text"
                          class="form-control input"
                          placeholder="Nhập họ tên khách hàng"
                          formControlName="hoTen"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="input_label"
                          ><b style="color: red">*</b>Số điện thoại</label
                        >
                        <input
                          type="text"
                          class="form-control input"
                          placeholder="Nhập số điện thoại"
                          formControlName="sdt"
                          readonly
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="input_label"
                          ><b style="color: red">*</b>Ngày sinh</label
                        >
                        <input
                          type="date"
                          class="form-control input"
                          formControlName="ngaySinh"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="input_label"
                          ><b style="color: red">*</b>Giới tính</label
                        >
                        <br />
                        <div class="button_ngang">
                          <label class="radio-button">
                            <input
                              type="radio"
                              name="gioiTinh"
                              [value]="true"
                              formControlName="gioiTinh"
                            />
                            <span class="radio"></span>
                            Nam
                          </label>
                          <label class="radio-button">
                            <input
                              type="radio"
                              name="gioiTinh"
                              [value]="false"
                              formControlName="gioiTinh"
                            />
                            <span class="radio"></span>
                            Nữ
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label class="input_label"
                          ><b style="color: red">*</b>Trạng thái</label
                        >
                        <br />
                        <div class="button_ngang">
                          <label class="radio-button">
                            <input
                              type="radio"
                              name="trangThai"
                              [value]="1"
                              formControlName="trangThai"
                            />
                            <span class="radio"></span>
                            Hoạt động
                          </label>
                          <label class="radio-button">
                            <input
                              type="radio"
                              name="trangThai"
                              [value]="0"
                              formControlName="trangThai"
                            />
                            <span class="radio"></span>
                            Ngừng hoạt động
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="input_label"
                          ><b style="color: red">*</b>Email</label
                        >
                        <input
                          type="text"
                          class="form-control input"
                          placeholder="Nhập email khách hàng"
                          formControlName="email"
                        />
                      </div>
                    </div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Tên đăng nhập"
                    readonly
                    formControlName="tenDangNhap"
                    hidden
                  />
                </form>
              </div>
              <div class="card-footer">
                <div class="">
                  <div class="form-group justify-content-md-center">
                    <button
                      type="button"
                      class="btn btn-outline-danger mx-sm-4 rounded"
                      routerLink="/khach-hang/ds-khach-hang"
                    >
                      Hủy
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-primary mx-sm-4 rounded"
                      (click)="updateKH()"
                    >
                      Lưu
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- địa chỉ -->
            <div class="col-md-7">
              <!-- thêm địa chỉ -->
              <div
                class="card-header border-bottom border-light-subtle border-3"
              >
                <div class="row">
                  <div class="col">
                    <h4 class="float-md-left">Danh sách địa chỉ</h4>
                  </div>
                  <!-- nút thêm dc cũ -->
                </div>
              </div>

              <!-- ds địa chỉ -->
              <br />
              <div class="container">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <div style="min-height: 40px; padding: 20px 0px 20xp 0px">
                      <h6 class="accordion-header">
                        <button
                          class="btn btn-light rounded-top"
                          style="
                            min-width: 100%;
                            min-height: 40px;
                            text-align: left;
                            border: none;
                            padding-left: 10px;
                            color: #125dd4;
                          "
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseOne"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                        >
                          <b> Thêm địa chỉ mới</b>
                        </button>
                      </h6>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <form [formGroup]="addFormDC">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label class="input_label"
                                  ><b style="color: red">*</b>Địa chỉ cụ
                                  thể</label
                                >
                                <input
                                  type="text"
                                  class="form-control input"
                                  placeholder="Nhập số nhà, tên đường,...."
                                  formControlName="duong"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label class="input_label"
                                  ><b style="color: red">*</b>Tỉnh/Thành
                                  phố</label
                                >
                                <select
                                  class="form-select form-select-sm mb-3 input"
                                  style="padding: 5px 10px 5px 10px"
                                  id="city"
                                  aria-label=".form-select-sm"
                                  formControlName="tinh"
                                  (change)="getAllHuyenByTinh()"
                                >
                                  <option value="" selected>
                                    Chọn tỉnh thành
                                  </option>
                                  <option
                                    *ngFor="let dc of tinhs"
                                    [value]="dc.ProvinceName"
                                  >
                                    {{ dc.ProvinceName }}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="col">
                              <div class="form-group">
                                <label class="input_label"
                                  ><b style="color: red">*</b>Quận/Huyện</label
                                >
                                <select
                                  class="form-select form-select-sm mb-3 input"
                                  style="padding: 5px 10px 5px 10px"
                                  id="district"
                                  aria-label=".form-select-sm"
                                  formControlName="huyen"
                                  (change)="getAllXaByHuyen()"
                                >
                                  <option value="" selected>
                                    Chọn quận huyện
                                  </option>
                                  <option
                                    *ngFor="let h of huyens"
                                    value="{{ h.DistrictName }}"
                                  >
                                    {{ h.DistrictName }}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="col">
                              <div class="form-group">
                                <label class="input_label"
                                  ><b style="color: red">*</b>Xã/Phường</label
                                >
                                <select
                                  class="form-select input"
                                  style="padding: 5px 10px 5px 10px"
                                  id="ward"
                                  ria-label=".form-select-sm"
                                  formControlName="xa"
                                >
                                  <option value="" selected>
                                    Chọn phường xã
                                  </option>
                                  <option
                                    *ngFor="let dc of xas"
                                    [value]="dc.WardName"
                                  >
                                    {{ dc.WardName }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="offset-md-4 d-flex justify-content-end">
                            <button
                              type="button"
                              class="btn btn-primary rounded-3"
                              (click)="addDiaChi()"
                            >
                              <i class="fa-solid fa-location-dot"></i> Thêm
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div *ngFor="let diaChi of dsDC; let i = index">
                <div class="container">
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <div style="min-height: 40px; padding: 20px 0px 20xp 0px">
                        <h6 class="accordion-header">
                          <button
                            class="btn btn-light rounded-top"
                            style="
                              min-width: 100%;
                              min-height: 40px;
                              text-align: left;
                              border: none;
                              padding-left: 10px;
                              color: #125dd4;
                            "
                            type="button"
                            (click)="toggleCollapse(i)"
                          >
                            <b> Địa chỉ {{ i + 1 }}</b>
                          </button>
                        </h6>
                      </div>
                      <div
                        id="collapse{{ i }}"
                        class="collapse"
                        [class.show]="!diaChi.isCollapsed"
                        data-bs-parent="#accordionExample"
                      >
                        <div class="accordion-body">
                          <form>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label class="input_label"
                                    ><b style="color: red">*</b>Địa chỉ cụ
                                    thể</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control input"
                                    placeholder="Nhập số nhà, tên đường,...."
                                    [value]="diaChi.duong"
                                    readonly
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label class="input_label"
                                    ><b style="color: red">*</b>Tỉnh/Thành
                                    phố</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control input"
                                    placeholder="Nhập tỉnh/thành phố"
                                    [value]="diaChi.tinh"
                                    readonly
                                  />
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label class="input_label"
                                    ><b style="color: red">*</b
                                    >Quận/Huyện</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control input"
                                    placeholder="Nhập Quận/Huyện"
                                    [value]="diaChi.huyen"
                                    readonly
                                  />
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label class="input_label"
                                    ><b style="color: red">*</b>Xã/Phường</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control input"
                                    placeholder="Nhập Xã/Phường"
                                    [value]="diaChi.xa"
                                    readonly
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="" *ngIf="diaChi.macDinh === true">
                                  <span class="btnDefault disabled">
                                    Mặc định
                                  </span>
                                </div>
                                <div class="" *ngIf="diaChi.macDinh === false">
                                  <label class="toggle">
                                    <span class="toggle-label"
                                      >Địa chỉ mặc định</span
                                    >
                                    <input
                                      class="toggle-checkbox"
                                      type="checkbox"
                                      (click)="setDefault(diaChi.id)"
                                    />
                                    <div class="toggle-switch"></div>
                                  </label>
                                </div>
                              </div>
                              <div
                                class="col-md-4 offset-md-4 d-flex justify-content-end"
                              >
                                <button
                                  class="btn btn-secondary rounded-3"
                                  *ngIf="diaChi.macDinh === false"
                                  (click)="xoaDC(diaChi.id)"
                                >
                                  <i
                                    class="fa-solid fa-trash"
                                    style="color: #fafafa"
                                  ></i>
                                </button>
                                <button
                                  data-toggle="modal"
                                  data-target="#formDetailDC"
                                  class="btn btn-primary rounded-3"
                                  style="margin-left: 5px"
                                  (click)="openUpdateForm(diaChi.id)"
                                >
                                  <i
                                    class="fa-solid fa-pen-to-square"
                                    style="color: #ffffff"
                                  ></i>
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- modal chi tiet DC -->
<div
  class="modal fade"
  id="formDetailDC"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Cập nhật địa chỉ
        </h1>
      </div>
      <!-- <form [formGroup]="updateFormDC"> -->
      <app-dia-chi-detail
        [(diaChiVaPhiVanChuyen)]="diaChiVaPhiVanChuyen"
        [selectedAddress]="selectedAddress"
      ></app-dia-chi-detail>

      <!-- </form> -->
    </div>
  </div>
</div>
