.wrapperChucNang {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
}

.wrapperTaiKhoan {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  margin-left: 10px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;

  border-top: none;
}

.order-item {
  border-radius: 4px;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 14px 16px;
  border: 1px solid #cbd5e1;
  margin-bottom: 16px;
}

.order-item-row {
  display: flex;
  align-items: flex-start;
  padding: 4px 0;
}

.order-item-row .label {
  padding-right: 10px;
  width: 175px;
  min-width: 175px;
}

.order-item-row .value {
  font-weight: 500;
}

.order-item-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid #edf1f5;
  padding-top: 10px;
  margin-top: 6px;
}

.order-item .viewmore {
  color: #63b1bc;
  font-weight: 500;
  margin-left: auto;
  cursor: pointer;
}

.order-item .status {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #74aa50;
  padding: 2px 10px;
  background: rgba(116, 170, 80, 0.2);
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.order-item .status.delivered {
  background: rgba(116, 170, 80, 0.2);
  color: #74aa50;
}

.order-item .status.processing {
  background: rgba(99, 177, 188, 0.2);
  color: #63b1bc;
}

.order-item .status.shipping {
  background: rgba(46, 144, 250, 0.2);
  color: #2e90fa;
}

.order-item .status.cancel {
  background: rgba(218, 41, 28, 0.2);
  color: #da291c;
}

.order-items {
  margin-top: 20px;
}

.order-list-empty {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 100px;
}

.order-list-empty img {
  display: block;
  margin: 0 auto 8px;
  max-width: 200px;
}

.order-details-view {
  list-style: none;
  padding: 16px 0 6px;
  margin: -8px 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.order-details-view li {
  display: flex;
  margin: 0 0 16px;
}

.order-details-view label {
  width: 190px;
  min-width: 190px;
  margin-right: 5px;
}

.order-details-view .value {
  font-weight: 500;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.order-details-view .action-view {
  color: #63b1bc;
  white-space: nowrap;
  cursor: pointer;
}

.order-details-view .action-copy {
  min-width: 16px;
  cursor: pointer;
  margin: 0 13px;
}

.order-details-view .action-copy svg {
  display: block;
}

.order-details-view .action-tracking {
  color: #63b1bc;
  font-weight: 500;
  cursor: pointer;
  margin-left: auto;
}

.order-details-view .status {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 10px;
  background: rgba(116, 170, 80, 0.2);
  border-radius: 2px;
  margin-right: 5px;
}

.order-details-view .status.delivered {
  background: rgba(116, 170, 80, 0.2);
  color: #74aa50;
}

.order-details-view .status.processing {
  background: rgba(99, 177, 188, 0.2);
  color: #63b1bc;
}

.order-details-view .status.shipping {
  background: rgba(46, 144, 250, 0.2);
  color: #2e90fa;
}

.order-details-view .status.cancel {
  background: rgba(218, 41, 28, 0.2);
  color: #da291c;
}

.order-back-page {
  cursor: pointer;
  color: #74869b;
  display: flex;
  width: fit-content;
  align-items: center;
  margin-bottom: 16px;
}

.order-back-page:before {
  content: "";
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1IDE4TDkgMTJMMTUgNiIgc3Ryb2tlPSIjNzQ4NjlCIiBzdHJva2Utd2lkdGg9IjEuMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
}

.order-details-items {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.order-details-items .col {
  width: 13.42%;
  border-bottom: 1px solid #edf1f5;
  padding: 16px 0;
  vertical-align: top;
}

.order-details-items .order-product {
  display: flex;
}

.order-details-items .order-product-photo {
  border-radius: 2px;
  width: 74px;
  min-width: 74px;
  margin-right: 20px;
}

.order-details-items .order-product-name {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.order-details-items .order-product-sku {
  color: #74869b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42;
  margin-bottom: 8px;
}

.order-details-items .order-product-options {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.order-details-items .order-product-options .order-product-option {
  display: flex;
  align-items: center;
}
.account-page-title .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  display: block;
}

.order-details-items .order-product-options .order-product-option:after {
  content: "";
  width: 1px;
  height: 22px;
  background-color: #e6e7e8;
  margin: 0 8px;
}

.order-details-items
  .order-product-options
  .order-product-option:last-child:after {
  content: none;
}

.order-details-items .order-product-options .swatch-option.color {
  width: 24px;
  height: 24px;
  min-width: 0;
  min-height: 0;
  padding: 2px;
  margin: 0 8px 0 0;
  display: block;
  border: 1px solid #e6e7e8;
  border-radius: 100%;
  background-clip: content-box;
}

.order-details-items .col.price {
  text-align: right;
  white-space: nowrap;
  padding-left: 15px;
  width: 32%;
}

.order-details-items .col.price .price {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  display: block;
}

.order-details-items .col.price .old-price {
  text-decoration-line: line-through;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 6px;
  display: block;
}

.order-details-items .col.qty {
  width: 125%;
  font-weight: 500;
  text-align: center;
}

.order-details-items .col.name {
  width: 49%;
  padding-right: 30px;
}

.order-details-items .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 8px;
}

.order-details-totals {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.order-details-totals table {
  width: 50%;
}

.order-details-totals table tr td,
.order-details-totals table tr th {
  padding: 4px 0;
  text-align: left;
  vertical-align: top;
  font-weight: 400;
}

.order-details-totals table tr th {
  padding-right: 15px;
}

.order-details-totals table tr td {
  text-align: right;
  white-space: nowrap;
}

.order-details-totals table .grand-totals td,
.order-details-totals table .grand-totals th {
  font-weight: 700;
}

.order-tracking-status-list-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  min-height: 78px;
  display: flex;
  padding-bottom: 15px;
}

.order-tracking-status-list-item:last-child {
  padding-bottom: 0;
  min-height: 0;
}

.order-tracking-status-list-item .icon {
  width: 26px;
  min-width: 26px;
  height: 26px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edf1f5;
  margin: 0 12px;
  position: relative;
  z-index: 3;
}

.order-tracking-status-list-item .icon img,
.order-tracking-status-list-item .icon svg {
  display: block;
}

.order-tracking-status-list-item strong {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 6px;
}

.order-tracking-status-list-item .date {
  width: 65px;
  min-width: 65px;
}

.order-tracking-status-list-item .date .time {
  display: block;
  margin-top: 6px;
}

.order-tracking-status-list-item .action-search {
  display: inline-block;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  padding: 7px 15px;
  background: #63b1bc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  margin-top: 16px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
  cursor: pointer;
}

.order-tracking-status-list-item .detail {
  position: relative;
  flex-grow: 1;
}

.order-tracking-status-list-item .detail:before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #edf1f5;
  position: absolute;
  left: -25px;
  top: 13px;
}

.order-tracking-status-list-item:last-child .detail:before {
  content: none;
}

.order-tracking-status-list-item.active .icon {
  background-color: #e0eff2;
}

.order-tracking-status-list-item.active .icon svg path {
  stroke: #63b1bc;
}

.order-tracking-status-list-item.active.shipping .icon {
  background-color: #d5e9fe;
}

.order-tracking-status-list-item.active.shipping .icon svg path {
  stroke: #2e90fa;
}

.order-tracking-status-list-item.active.delivered .icon {
  background-color: #e3eedc;
}

.order-tracking-status-list-item.active.delivered .icon svg path {
  stroke: #74aa50;
}

.order-tracking-status-list-item.cancel .icon,
.order-tracking-status-list-item.cancel.active .icon {
  background-color: rgba(218, 41, 28, 0.2);
}

.order-tracking-status-list-item.cancel .icon svg path,
.order-tracking-status-list-item.cancel.active .icon svg path {
  stroke: #da291c;
}

.order-tracking {
  position: relative;
  margin-left: auto;
}

.order-tracking .order-tracking-status-list {
  background: #fff;
  box-shadow: 0 2px 10px rgba(51, 63, 72, 0.1);
  border-radius: 2px;
  padding: 20px 16px;
  z-index: 30;
  right: 0;
  top: 100%;
  position: absolute;
  width: 375px;
  margin-top: 10px;
  display: none;
}

.order-tracking.active .order-tracking-status-list {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}




.steps .step {
  display: block;
  width: 100%;
  margin-bottom: 35px;
  text-align: center;
}

.steps .step .step-icon-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
  display: block;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 3px;
  margin-top: -1px;
  background-color: #e1e7ec;
  content: "";
  z-index: 1;
}

.steps .step .step-icon-wrap::before {
  left: 0;
}

.steps .step .step-icon-wrap::after {
  right: 0;
}

.steps .step .step-icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #e1e7ec;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #374250;
  font-size: 38px;
  line-height: 81px;
  z-index: 5;
}

.steps .step .step-title {
  margin-top: 16px;
  margin-bottom: 0;
  color: #606975;
  font-size: 14px;
  font-weight: 500;
}

.steps .step:first-child .step-icon-wrap::before {
  display: none;
}

.steps .step:last-child .step-icon-wrap::after {
  display: none;
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
  background-color: #000000;
}

.steps .step.completed .step-icon {
  border-color: #000000;
  background-color: #000000;
  color: #fff;
}

.completed span {
  margin-top: 16px;
  margin-bottom: 0;
  color: #606975;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 576px) {
  .flex-sm-nowrap .step .step-icon-wrap::before,
  .flex-sm-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .flex-md-nowrap .step .step-icon-wrap::before,
  .flex-md-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

@media (max-width: 991px) {
  .flex-lg-nowrap .step .step-icon-wrap::before,
  .flex-lg-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

@media (max-width: 1200px) {
  .flex-xl-nowrap .step .step-icon-wrap::before,
  .flex-xl-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

.bg-faded,
.bg-secondary {
  background-color: #f5f5f5 !important;
}