<app-main-heading
  [icon]="icon"
  [mainHeading]="mainHeading"
  [title]="title"
></app-main-heading>
<!-- 
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div> -->

<!-- Form start -->
<div class="row gutters mt-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="float-md-left">Thêm nhân viên</h4>
        <button
          class="btn btn-primary btn-rounded float-md-right"
          id="add-button"
          data-toggle="modal"
          data-target="#formQRCode"
          data-whatever="@mdo"
        >
          <i class="fa-solid fa-qrcode"></i> Quét QR CCCD
        </button>
      </div>
      <div class="card-body py-4">
        <form [formGroup]="addForm">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="d-flex justify-content-center">
                <input
                  type="file"
                  accept="image/*"
                  (change)="onFileSelected($event)"
                  (change)="imageChange($event)"
                  #fileInput
                  style="display: none"
                />
                <button (click)="openFileInput()" class="button-anh">
                  <img *ngIf="imageUrl" [src]="imageUrl" alt="" />
                  <span *ngIf="!imageUrl"
                    ><i class="fa-solid fa-plus fa-xl" style="color: red"></i
                  ></span>
                </button>
              </div>
              <div class="form-group">
                <label class="input_label">
                  <b class="b-red-required">*</b>Họ tên</label
                >
                <input
                  type="text"
                  class="form-control input"
                  placeholder="Họ tên"
                  [ngClass]="
                    addForm.get('hoTen').invalid && addForm.get('hoTen').touched
                      ? 'is-invalid'
                      : ''
                  "
                  formControlName="hoTen"
                />
                <div class="invalid-feedback">Họ tên không hợp lệ</div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="input_label">
                      <b class="b-red-required">*</b>CCCD</label
                    >
                    <input
                      type="text"
                      class="form-control input"
                      placeholder="CCCD"
                      [ngClass]="
                        addForm.get('cccd').invalid &&
                        addForm.get('cccd').touched
                          ? 'is-invalid'
                          : ''
                      "
                      formControlName="cccd"
                    />
                    <div class="invalid-feedback">CCCD không hợp lệ</div>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label class="input_label">
                      <b class="b-red-required">*</b>Ngày sinh</label
                    >
                    <input
                      type="date"
                      class="form-control input"
                      placeholder="Ngày sinh"
                      [ngClass]="
                        addForm.get('ngaySinh').invalid &&
                        addForm.get('ngaySinh').touched
                          ? 'is-invalid'
                          : ''
                      "
                      formControlName="ngaySinh"
                    />
                    <div class="invalid-feedback">Không được bỏ trống</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="input_label">
                      <b class="b-red-required">*</b>Địa chỉ</label
                    >
                    <input
                      type="text"
                      class="form-control input"
                      placeholder="Địa chỉ"
                      [ngClass]="
                        addForm.get('diaChi').invalid &&
                        addForm.get('diaChi').touched
                          ? 'is-invalid'
                          : ''
                      "
                      formControlName="diaChi"
                    />
                    <div class="invalid-feedback">Không được bỏ trống</div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="form-label input_label">
                      <b class="b-red-required">*</b>Giới tính
                    </label>
                    <br />

                    <div class="form-check form-check-inline ms-1">
                      <input
                        class="form-check-input"
                        type="radio"
                        value="true"
                        formControlName="gioiTinh"
                        [checked]="true"
                      />
                      <label class="form-check-label me-3"> Nam </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        value="false"
                        formControlName="gioiTinh"
                      />
                      <label class="form-check-label"> Nữ </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="input_label">
                      <b class="b-red-required">*</b>Số điện thoại</label
                    >
                    <input
                      type="text"
                      class="form-control input"
                      placeholder="Số điện thoại"
                      [ngClass]="
                        addForm.get('sdt').invalid && addForm.get('sdt').touched
                          ? 'is-invalid'
                          : ''
                      "
                      formControlName="sdt"
                    />
                    <div class="invalid-feedback">SĐT không hợp lệ</div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="input_label">
                      <b class="b-red-required">*</b>Email
                    </label>
                    <input
                      type="email"
                      class="form-control input"
                      placeholder="Email"
                      [ngClass]="
                        addForm.get('email').invalid &&
                        addForm.get('email').touched
                          ? 'is-invalid'
                          : ''
                      "
                      formControlName="email"
                    />
                    <div class="invalid-feedback">Email không hợp lệ</div>
                    <!-- <div class="invalid-feedback">
                      {{ addForm.get("errorMessage").value }}
                    </div> -->
                  </div>
                </div>
              </div>
              <!-- Chức vụ -->
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-label input_label">
                      <b class="b-red-required">*</b>Chức vụ
                    </label>
                    <br />

                    <div class="form-check form-check-inline ms-1">
                      <input
                        class="form-check-input"
                        type="radio"
                        value="ROLE_STAFF"
                        formControlName="role"
                      />
                      <label class="form-check-label me-3"> Nhân viên </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        value="ROLE_ADMIN"
                        formControlName="role"
                      />
                      <label class="form-check-label"> Quản lý </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end pe-5 m-2 mt-4">
            <button
              class="btn btn-primary btn-rounded btn-reload-filter"
              (click)="reloadForm()"
            >
              <i class="fa-solid fa-arrows-rotate"></i>
            </button>

            <button
              type="submit"
              class="btn btn-success btn-rounded mx-2"
              [disabled]="addForm.invalid"
              (click)="addNhanVien()"
            >
              <i class="fa-solid fa-plus"></i> Thêm
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-rounded"
              routerLink="/nhan-vien/ds-nhan-vien"
            >
              Back
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Form ends -->

<div
  class="modal fade"
  id="formQRCode"
  tabindex="-1"
  role="dialog"
  aria-labelledby="formQR"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          id="closeFormQRCode"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngx-scanner-qrcode
          #action="scanner"
          (event)="onEvent($event, action)"
        ></ngx-scanner-qrcode>
        <div class="text-center">
          <p *ngIf="action.isLoading">
            <i class="fa-solid fa-spinner fa-spin"></i> Loading...
          </p>
          <button
            class="btn btn-primary btn-rounded"
            (click)="action.isStart ? action.stop() : action.start()"
          >
            {{ action.isStart ? "Stop" : "Start" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
