<section style="margin-bottom: 120px">
  <div class="px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Bee Shirt <br />
            <span style="color: #ffc107">Đẹp trong từng thước vải</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Bee Shirt đang tạo ra những bộ trang phục sản xuất trong nước hoàn
            toàn có thể sánh ngang với các thương hiệu thời trang nam đến từ
            nước ngoài về kiểu dáng, chất lượng lẫn phong cách thời trang.” -
            CEO Bee Shirt
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="border border-secondary p-3 rounded">
            <h3 class="title">Đổi mật khẩu</h3>
            <form [formGroup]="form">
              <!--  -->
              <div class="mb-1">
                <label>Mật khẩu mới:</label>
                <input
                  class="form-control"
                  placeholder="Mật khẩu mới"
                  [type]="pwdInputType ? 'text' : 'password'"
                  formControlName="newPwd"
                  [ngClass]="
                    form.get('newPwd').invalid && form.get('newPwd').touched
                      ? 'is-invalid'
                      : ''
                  "
                  (input)="checkMatch()"
                />
                <span
                  class="badge text-bg-secondary pointer mt-2"
                  (click)="togglePwdInputType()"
                  >{{
                    pwdInputType ? "Ẩn mật khẩu" : "Hiển thị mật khẩu"
                  }}</span
                >
                <div
                  class="invalid-feedback"
                  *ngIf="form.get('newPwd').hasError('customRequired')"
                >
                  Không được bỏ trống
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    form.get('newPwd').hasError('pwdPattern') &&
                    !form.get('newPwd').hasError('customRequired')
                  "
                >
                  Mật khẩu phải dài ít nhất 8 ký tự, chỉ gồm chữ cái không dấu
                  và chữ số, phải có ít nhất 1 chữ cái hoa và 1 chữ số, không ký
                  tự đặc biệt
                </div>
              </div>

              <!--  -->
              <div class="mb-1">
                <label>Xác nhận mật khẩu mới:</label>
                <input
                  class="form-control"
                  placeholder="Xác nhận mật khẩu mới"
                  type="password"
                  formControlName="confirmNewPwd"
                  [ngClass]="
                    (form.get('confirmNewPwd').invalid &&
                      form.get('confirmNewPwd').touched) ||
                    !pwdMatch
                      ? 'is-invalid'
                      : ''
                  "
                  (input)="checkMatch()"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="form.get('confirmNewPwd').hasError('customRequired')"
                >
                  Không được bỏ trống
                </div>
                <div class="invalid-feedback" *ngIf="!pwdMatch">
                  Xác nhận mật khẩu không đúng
                </div>
              </div>

              <!--  -->
              <div class="mb-1">
                <label>Mã xác nhận:</label>
                <input
                  class="form-control"
                  placeholder="Mã xác nhận"
                  type="text"
                  formControlName="verifyCode"
                  [ngClass]="
                    form.get('verifyCode').invalid &&
                    form.get('verifyCode').touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="form.get('verifyCode').hasError('customRequired')"
                >
                  Không được bỏ trống
                </div>
              </div>
              <span class="signin-link mb-3"
                >Vui lòng kiểm tra email vừa nhập để lấy mã xác nhận. <br /><a
                  routerLink="/forget-password"
                  >Gửi lại mã</a
                ></span
              >

              <p class="signin-link">
                Bạn đã có tài khoản? <a routerLink="/log-in">Đăng nhập</a>
              </p>
              <p class="signin-link">
                Bạn chưa có tài khoản? <a routerLink="/sign-up">Đăng ký</a>
              </p>
              <button
                class="btn btn-primary"
                type="submit"
                (click)="changePassword()"
                [disabled]="form.invalid || !pwdMatch"
              >
                Xác nhận
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
