<div class="card">
  <div class="card-header"><strong>Quy Định Trả Hàng</strong></div>
  <div class="card-body">
    <div nz-row [nzGutter]="6">
      <div nz-col [nzSpan]="12">
        <nz-card nzTitle="Hoá Đơn">
          <span nz-typography>
            <strong>
              * Nhân viên chỉ hỗ trợ khi khách hàng còn giữ hoá đơn mua hàng.
            </strong>
          </span>

          <br />
          <span nz-typography>
            <strong>
              * Điều kiện áp dụng: Sản phẩm lỗi kỹ thuật: Ố màu, chất liệu, kiểu
              dáng, bung keo,… <br />* Sản phẩm không giống mô tả hoặc không
              giống hình Đối với sản phẩm lỗi kỹ thuật phải phản hồi đến Bee
              Shirt <br />
              * Mỗi hoá đơn chỉ được trả hàng 1 lần duy nhất
              <br />
              * Hoá đơn được trả hàng khi: <br />
              + Trong vòng 07 ngày kể từ ngày mua hàng tại cửa hàng. <br />
              + Trong vòng 07 ngày kể từ ngày nhận hàng đối với khách mua hàng
              Online.
            </strong>
          </span>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-card nzTitle="Sản Phẩm">
          <span nz-typography>
            <h4 nz-typography>Từ Chối Trả Hàng Với Lý Do:</h4>
            <strong>
              * Giặt tẩy sản phẩm không đúng theo quy cách. <br />* Sản phẩm bị
              ảnh hưởng bởi tác dụng của hoá chất, ảnh hưởng đến màu sắc, form
              dáng, hình dạng. <br />* Sản phẩm bị rách, trầy xước, biến dạng do
              tiếp xúc với nhiệt độ cao hoặc bị ẩm ướt lâu ngày, và liên tục bị
              tác động bởi vật cứng, sắc nhọn hoặc bị thú vật cắn. <br />* Sản
              phẩm bị tác động bởi tai nạn, thiên tai,…
            </strong>
          </span>
        </nz-card>
      </div>
    </div>
  </div>
</div>
