<section class="container mt-5">
  <div class="row mb-2">
    <div class="col-md-2">
      <i class="bi bi-funnel-fill"></i>
      Bộ Lọc:
    </div>
    <div class="col-md-10 filterSanPham" style="padding: 0 35px">
      <span>{{ pagedResponse?.totalElements }} sản phẩm</span>

      <!-- <select class="formSelect">
        <option value="">Sắp xếp</option>
        <option value="">Giá giảm dần</option>
        <option value="">Giá tăng dần</option>
      </select> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="block-content filter-content">
        <div class="block-filter-content">
          <div id="layered-filter-state"></div>
          <dl class="filter-options" id="narrow-by-list">
            <!-- MÀU SẮC -->
            <div class="filter-options-item">
              <dt
                role="heading"
                aria-level="3"
                class="inactive active"
                (click)="onClick($event)"
              >
                <div class="filter-options-title">MÀU SẮC</div>
              </dt>
              <dd class="filter-options-content inactive" style="display: none">
                <div
                  class="swatch-attribute swatch-layered family_color"
                  data-attribute-code="family_color"
                  data-attribute-id="220"
                >
                  <div
                    class="swatch-attribute-options clearfix"
                    *ngFor="let color of activeColors"
                  >
                    <div class="wrapperColorSide">
                      <input
                        type="checkbox"
                        (change)="toggleProperty($event, 'color', color.id)"
                      />
                      <label class="wrapperSide" [title]="color.ten">
                        <img [src]="color.image.imageUrl" class="imgSide" />
                      </label>
                    </div>
                  </div>
                </div>
              </dd>
            </div>

            <!-- KÍCH CỠ -->
            <div class="filter-options-item">
              <dt
                role="heading"
                aria-level="3"
                class="inactive active"
                (click)="onClick($event)"
              >
                <div class="filter-options-title">KÍCH CỠ</div>
              </dt>
              <dd class="filter-options-content inactive" style="display: none">
                <div
                  class="swatch-attribute swatch-layered pattern"
                  data-attribute-code="pattern"
                  data-attribute-id="219"
                >
                  <div
                    class="swatch-attribute-options clearfix"
                    *ngFor="let s of activeSizes"
                  >
                    <input
                      type="checkbox"
                      (change)="toggleProperty($event, 'size', s.id)"
                    />
                    <label>{{ s.ten.split("-")[0] }}</label>
                  </div>
                </div>
              </dd>
            </div>

            <!-- KIỂU DÁNG -->
            <div class="filter-options-item">
              <dt
                role="heading"
                aria-level="3"
                class="inactive active"
                (click)="onClick($event)"
              >
                <div class="filter-options-title">KIỂU DÁNG</div>
              </dt>
              <dd class="filter-options-content inactive" style="display: none">
                <div
                  class="swatch-attribute swatch-layered size"
                  data-attribute-code="size"
                  data-attribute-id="192"
                >
                  <div
                    class="swatch-attribute-options clearfix"
                    *ngFor="let f of activeForms"
                  >
                    <input
                      type="checkbox"
                      (change)="toggleProperty($event, 'form', f.id)"
                    />
                    <label>{{ f.ten }}</label>
                  </div>
                </div>
              </dd>
            </div>

            <!-- THIẾT KẾ -->
            <div class="filter-options-item">
              <dt
                role="heading"
                aria-level="3"
                class="inactive active"
                (click)="onClick($event)"
              >
                <div class="filter-options-title">THIẾT KẾ</div>
              </dt>
              <dd class="filter-options-content inactive" style="display: none">
                <div
                  class="swatch-attribute swatch-layered life_style"
                  data-attribute-code="life_style"
                  data-attribute-id="183"
                >
                  <div
                    class="swatch-attribute-options clearfix"
                    *ngFor="let d of activeDesigns"
                  >
                    <div>
                      <input
                        type="checkbox"
                        (change)="toggleProperty($event, 'design', d.id)"
                      />
                      <label>{{ d.ten }}</label>
                    </div>
                  </div>
                </div>
              </dd>
            </div>

            <!-- CỔ ÁO -->
            <div class="filter-options-item">
              <dt
                role="heading"
                aria-level="3"
                class="inactive active"
                (click)="onClick($event)"
              >
                <div class="filter-options-title">CỔ ÁO</div>
              </dt>
              <dd class="filter-options-content inactive" style="display: none">
                <div
                  class="swatch-attribute swatch-layered family_fabric"
                  data-attribute-code="family_fabric"
                  data-attribute-id="305"
                >
                  <div
                    class="swatch-attribute-options clearfix"
                    *ngFor="let c of activeCollars"
                  >
                    <input
                      type="checkbox"
                      (change)="toggleProperty($event, 'collar', c.id)"
                    />
                    <label>{{ c.ten }}</label>
                  </div>
                </div>
              </dd>
            </div>

            <!-- TAY ÁO -->
            <div class="filter-options-item">
              <dt
                role="heading"
                aria-level="3"
                class="inactive active"
                (click)="onClick($event)"
              >
                <div class="filter-options-title">TAY ÁO</div>
              </dt>
              <dd class="filter-options-content inactive" style="display: none">
                <div
                  class="swatch-attribute swatch-layered hand_style"
                  data-attribute-code="hand_style"
                  data-attribute-id="211"
                >
                  <div
                    class="swatch-attribute-options clearfix"
                    *ngFor="let s of activeSleeves"
                  >
                    <input
                      type="checkbox"
                      (change)="toggleProperty($event, 'sleeve', s.id)"
                    />
                    <label>{{ s.ten }}</label>
                  </div>
                </div>
              </dd>
            </div>

            <!-- KHOẢNG GIÁ -->
            <div class="filter-options-item">
              <dt
                role="heading"
                aria-level="3"
                class="inactive active"
                (click)="onClick($event)"
              >
                <div class="filter-options-title">KHOẢNG GIÁ</div>
              </dt>
              <dd class="filter-options-content inactive" style="display: none">
                <div
                  class="swatch-attribute swatch-layered hand_style"
                  data-attribute-code="hand_style"
                  data-attribute-id="211"
                >
                  <div class="swatch-attribute-options clearfix">
                    <input
                      type="radio"
                      name="filterPrice"
                      (change)="filterByPrice(0, 0)"
                      checked
                    />
                    <label>Tất cả</label>
                  </div>

                  <div class="swatch-attribute-options clearfix">
                    <input
                      type="radio"
                      name="filterPrice"
                      (change)="filterByPrice(0, 500000)"
                    />
                    <label
                      >{{ formatPrice(0) }} -
                      {{ formatPrice(500) + "k" }}</label
                    >
                  </div>

                  <div class="swatch-attribute-options clearfix">
                    <input
                      type="radio"
                      name="filterPrice"
                      (change)="filterByPrice(500000, 1000000)"
                    />
                    <label
                      >{{ formatPrice(500) + "k" }} -
                      {{ formatPrice(1000) + "k" }}</label
                    >
                  </div>

                  <div class="swatch-attribute-options clearfix">
                    <input
                      type="radio"
                      name="filterPrice"
                      (change)="filterByPrice(1000000, 2000000)"
                    />
                    <label
                      >{{ formatPrice(1000) + "k" }} -
                      {{ formatPrice(2000) + "k" }}</label
                    >
                  </div>

                  <div class="swatch-attribute-options clearfix">
                    <input
                      type="radio"
                      name="filterPrice"
                      (change)="filterByPrice(2000000, 999999999)"
                    />
                    <label>> {{ formatPrice(2000) + "k" }}</label>
                  </div>
                </div>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <!-- products -->
    <div class="col-md-9 row">
      <div class="col-md-3 mb-5" *ngFor="let sp of pagedResponse?.data">
        <div class="product">
          <div class="product-thumbnail">
            <a class="image_thumb">
              <img [src]="sp.sanPhamChiTiets[0].hinhAnhs[0].imageUrl" />
            </a>
            <div class="saleProduct" *ngIf="sp.saleEvent">
              {{ sp.saleEvent.giaTriPhanTram }} %
            </div>
          </div>
          <div class="details">
            <h3 class="nameProduct">
              <a [routerLink]="'/san-pham/' + sp.id">{{ sp.ten }}</a>
            </h3>

            <p class="priceProduct" *ngIf="sp.saleEvent">
              <s>{{ displayPrice(sp) }}</s>
            </p>
            <p class="priceProduct text-danger" *ngIf="sp.saleEvent">
              {{ displayDiscountPrice(sp) }}
            </p>
            <p class="priceProduct" *ngIf="!sp.saleEvent">
              {{ displayPrice(sp) }}
            </p>

            <div class="swatch-color-wrapper">
              <div
                class="swatch-element"
                *ngFor="let color of getMauSacList(sp)"
              >
                <img class="img-color" [src]="color.image.imageUrl" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- paginations -->
      <div
        class="col col-md-12 d-flex justify-content-between mb-5"
        *ngIf="pagedResponse?.data.length > 0"
      >
        <div class="col-md-3">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
            >Số lượng:
          </label>
          <select
            class="custom-select my-1 mr-sm-2 col-md-5 form-control"
            id="inlineFormCustomSelectPref"
            (change)="onChangePageSize($event)"
          >
            >
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </div>
        <div class="">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li
                class="page-item"
                [ngClass]="pagedResponse?.pageNumber == 1 ? 'disabled' : ''"
              >
                <a
                  class="page-link pointer rounded pointer"
                  (click)="
                    goToPage(
                      pagedResponse?.pageNumber - 1,
                      pagedResponse?.pageSize
                    )
                  "
                  >Previous</a
                >
              </li>
              <li
                class="page-item"
                *ngFor="let pageNumber of pagedResponse?.pageNumberArr"
              >
                <a
                  class="page-link pointer rounded pointer"
                  [ngClass]="
                    pagedResponse?.pageNumber == pageNumber ? 'active' : ''
                  "
                  (click)="goToPage(pageNumber, pagedResponse?.pageSize)"
                  >{{ pageNumber }}</a
                >
              </li>
              <li
                class="page-item"
                [ngClass]="
                  pagedResponse?.pageNumber == pagedResponse?.totalPages
                    ? 'disabled'
                    : ''
                "
              >
                <a
                  class="page-link pointer rounded pointer"
                  (click)="
                    goToPage(
                      pagedResponse?.pageNumber + 1,
                      pagedResponse?.pageSize
                    )
                  "
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="text-center h3" *ngIf="pagedResponse?.data.length === 0">
        <i>Không có sản phẩm nào!</i>
      </div>
      <app-overlay *ngIf="isLoadding" [text]="overlayText"></app-overlay>
    </div>
  </div>
</section>
