<app-main-heading
  [icon]="icon"
  [mainHeading]="mainHeading"
  [title]="tittle"
></app-main-heading>

<div class="row gutters pt-3">
  <!-- Form -->
  <div class="col-sm-5 col-md-4">
    <app-form
      [formButton]="formButton"
      [formHeader]="formHeader"
      [modalTitle]="'Xác Nhận Thêm'"
      [modalMessage]="'Bạn chắc chắn muốn thêm đợt khuyến mại mới?'"
      [modalAction]="'Thêm mới'"
      [typeForm]="'add'"
      [dotGiamGiaRequest]="dotGiamGiaRequest"
    ></app-form>
  </div>

  <!-- Table San Pham-->
  <div class="col col-md-8">
    <div class="row gutters">
      <div class="col-sm-12">
        <div class="card">
          <div>
            <h2 class="card-header">Danh Sách Sản Phẩm</h2>
          </div>
          <div class="card-body">
            <nz-table
              #headerTable
              [nzData]="dataSanPham"
              [nzPageSize]="5"
              [nzScroll]="{ y: '240px' }"
            >
              <thead>
                <tr>
                  <th></th>
                  <th>Mã Sản Phẩm</th>
                  <th>Tên Sản Phẩm</th>
                  <th>Trạng Thái</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of headerTable.data">
                  <td class="sorting_1">
                    <input
                      [checked]="this.listIdSanPham?.includes(+data.id)"
                      [disabled]="data.trangThai === false ? true : false"
                      type="checkbox"
                      (change)="setListIdSanPham(data.id)"
                    />
                  </td>
                  <td>{{ data.ma }}</td>
                  <td>{{ data.ten }}</td>
                  <td>
                    <button
                      class="{{
                        data.trangThai === true
                          ? 'btn btn-success btn-rounded'
                          : 'btn btn-danger btn-rounded'
                      }}"
                    >
                      {{ data.trangThai === true ? "Đang Bán" : "Ngừng Bán" }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table San Pham Chi Tiet -->
  <div class="row">
    <div class="row gutters">
      <div class="col-sm-12">
        <div class="card">
          <div>
            <h2 class="card-header">Danh Sách Chi Tiết Sản Phẩm</h2>
          </div>
          <div class="card-body">
            <table
              id="rowSelection_wrapper"
              class="table dataTables_wrapper dt-bootstrap5"
            >
              <div class="row">
                <div class="col-sm-12">
                  <nz-table
                    #rowSelectionTable
                    nzShowSizeChanger
                    [nzData]="listOfData"
                    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                  >
                    <thead>
                      <tr>
                        <th
                          [(nzChecked)]="checked"
                          [nzIndeterminate]="indeterminate"
                          (nzCheckedChange)="onAllChecked($event)"
                        ></th>
                        <th>Ảnh Sản Phẩm</th>
                        <th>Mã Sản Phẩm</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Số Lượng Tồn</th>
                        <th>Giá Bán</th>
                        <th>Chất Liệu</th>
                        <th>Cổ Áo</th>
                        <th>Kích Cỡ</th>
                        <th>Kiểu Dáng</th>
                        <th>Tay Áo</th>
                        <th>Thiết Kế</th>
                        <th>Màu</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of rowSelectionTable.data">
                        <td
                          [nzChecked]="setOfCheckedId.has(data.id)"
                          (nzCheckedChange)="onItemChecked(data.id, $event)"
                        ></td>
                        <td>
                          <!-- image -->
                          <img
                            [src]="data?.hinhAnhSanPham"
                            alt=""
                            width="100px"
                            height="80px"
                          />
                        </td>
                        <td>{{ data.maSanPham }}</td>
                        <td>{{ data.tenSanPham }}</td>
                        <td>{{ data.soLuongTon }}</td>
                        <td>{{ data.giaBan | currency : "VND" }}</td>
                        <td>{{ data.tenChatLieu }}</td>
                        <td>{{ data.tenCoAo }}</td>
                        <td>{{ data.tenKichCo }}</td>
                        <td>{{ data.tenKieuDang }}</td>
                        <td>{{ data.tenTayAo }}</td>
                        <td>{{ data.tenThietKe }}</td>
                        <td>
                          <button
                            *ngIf="data.maMauSac != null"
                            [ngClass]="'btn'"
                            [ngStyle]="{
                              'background-color': data.maMauSac
                            }"
                          ></button>
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noDataTemplate>
  <tr>
    <td [colSpan]="tHeadProducts.length" class="text-center">
      Úi Bạn Ơi Không Có Dữ Liệu!!!
    </td>
  </tr>
</ng-template>

<ng-template #noDataTemplate1>
  <tr>
    <td [colSpan]="tHeadProduct.length" class="text-center">
      Úi Bạn Ơi Không Có Dữ Liệu!!!
    </td>
  </tr>
</ng-template>
