<header class="container">
  <owl-carousel-o [options]="headerSlide">
    <ng-template carouselSlide>
      <img
        src="https://i.imgur.com/EvEw8qN.jpeg"
        class="d-block w-100"
        alt="..."
    /></ng-template>
    <ng-template carouselSlide
      ><img
        src="https://i.imgur.com/fMrOI7b.jpeg"
        class="d-block w-100"
        alt="..."
    /></ng-template>
    <ng-template carouselSlide
      ><img
        src="https://i.imgur.com/7cCzZ9Q.jpeg"
        class="d-block w-100"
        alt="..."
    /></ng-template>
  </owl-carousel-o>
</header>
