.thumbnail {
  height: 150px;
  width: 300px;
  border-radius: 5%;
  object-fit: cover;
}

.color-img {
  height: 30px;
  width: 60px;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

.modal {
  z-index: 1200;
}

thead tr th {
  background-color: #574afb; /* Màu nền của header */
  color: white;
  text-transform: uppercase;
}

.page-link.active {
  background-color: #574afb;
  color: white !important;
}

.pagination li a {
  color: #574afb;
}

.btn-create {
  background-color: #574afb;
  color: white;
}

.modal-add {
  z-index: 1050;
}

.disabled-text {
  color: gray;
}
