<app-main-heading [icon]="icon" [mainHeading]="mainHeading" [title]="title"></app-main-heading>
<div class="row gutters mt-4">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h4 class="float-md-left">Bộ lọc</h4>
      </div>
      <div class="card-body pt-4">
        <!-- Filter start -->
        <div class="row gutters">
          <div class="col-md-5 col-12 pe-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="me-3"> Tìm kiếm: </label>
              </div>
              <input #inputName type="text" class="form-control" placeholder="Tìm kiếm theo tên hoặc sdt hoặc email"
                (keyup)="timKiem($event)" />
            </div>
          </div>
          <div class="col-sm-3 col-12">
            <div class="input-group d-flex align-items-center">
              <div class="input-group-prepend">
                <label class="me-3"> Giới tính: </label>
              </div>
              <select
                  [(ngModel)]="gioiTinhFilter"
                  class="custom-select"
                  (change)="onChangeFilter()"
                >
                  <option [ngValue]="[0,1]">Tất cả giới tính</option>
                  <option [ngValue]="[1]">Nam</option>
                  <option [ngValue]="[0]">Nữ</option>
                </select>
            </div>
          </div>
          <div class="col-sm-3 col-12">
            <div class="input-group d-flex align-items-center">
              <div class="input-group-prepend">
                <label class="me-3"> Trạng thái: </label>
              </div>
              <select
                  class="custom-select"
                  [(ngModel)]="trangThaiFilter"
                  (change)="onChangeFilter()"
                >
                  <option [ngValue]="[0, 1]">Tất cả trạng thái</option>
                  <option [ngValue]="[1]">Đang hoạt động</option>
                  <option [ngValue]="[0]">Ngừng hoạt động</option>
                </select>
            </div>
          </div>

          <div class="col-1 ps-3">
            <button class="btn btn-create btn-rounded btn-reload-filter" (click)="reloadFilter()">
              <i class="fa-solid fa-arrows-rotate"></i>
            </button>
          </div>
        </div>
        <!-- Filter End -->
      </div>
    </div>
  </div>
</div>
<div class="row gutters mt-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3 class="float-md-left">Danh sách khách hàng</h3>
        <button type="button" class="btn btn-create btn-lg float-md-right rounded"
          routerLink="/khach-hang/them-khach-hang">
          <span class="icon-user-plus" style="margin-top: 20px"></span>
          Thêm khách hàng
        </button>
      </div>

      <div class="card-body">
        <table id="basicExample" class="table table-striped table-bordered rounded">
          <thead>
            <tr>
              <th>STT</th>
              <th>Họ tên</th>
              <th>Số điện thoại</th>
              <th>Giới tính</th>
              <th>Email</th>
              <th>Địa chỉ</th>
              <th>Ngày sinh</th>
              <th>Trạng thái</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let kh of pagedResponse?.data; let i = index">
              <th scope="row">
                {{
                i +
                1 +
                (pagedResponse.pageNumber - 1) * pagedResponse.pageSize
                }}
              </th>
              <td>{{ kh.hoTen }}</td>
              <td>
                {{ kh.sdt }}
              </td>
              <td>{{ kh.gioiTinh == true ? "Nam" : "Nữ" }}</td>
              <td>{{ kh.email }}</td>
              <td style="max-width: 350px">
                {{ kh.duong }}, {{ kh.xa }}, {{ kh.huyen }}, {{ kh.tinh }}
              </td>
              <td>{{ kh.ngaySinh | date : "dd-MM-yyyy" }}</td>
              <td>
                <div class="">                 
                  <label
                    [class]="
                      kh.trangThai
                        ? 'btn btn-success btn-rounded'
                        : 'btn btn-secondary btn-rounded'
                    "
                    (click)="changeSTT(kh.id)"
                  >
                    {{ kh.trangThai ? "Đang hoạt động" : "Ngừng hoạt động" }}
                  </label>
                </div>
              </td>
              <td>
                <button class="btn btn-outline-light btn-rounded me-2" title="Xem chi tiết" data-toggle="modal"
                  data-target="#formDetailKH" (click)="openDetailsForm(kh.id)">
                  <i class="fa-solid fa-circle-info fa-xl" style="color: #74c0fc"></i>
                </button>
                <button class="btn btn-outline-warning btn-rounded" title="Cập nhật"
                  routerLink="/khach-hang/sua-khach-hang/{{ kh.id }}">
                  <i class="fa-solid fa-pen-to-square" style="color: #ffd43b"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <!-- <div class="col col-md-12 d-flex justify-content-between">
          <div class="col-md-3">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Số lượng:
            </label>
            <select class="custom-select my-1 mr-sm-2 col-md-5" id="inlineFormCustomSelectPref"
              (change)="onChangePageSize($event)">
              >
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
          <div class="">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item" [ngClass]="pagedResponse?.pageNumber == 1 ? 'disabled' : ''">
                  <a class="page-link pointer" (click)="goToPage(pagedResponse?.pageNumber - 1)">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of pagedResponse?.pageNumberArr">
                  <a class="page-link pointer" [ngClass]="
                      pagedResponse?.pageNumber == page ? 'active' : ''
                    " (click)="goToPage(page)">{{ page }}</a>
                </li>
                <li class="page-item" [ngClass]="
                    pagedResponse?.pageNumber == pagedResponse?.totalPages
                      ? 'disabled'
                      : ''
                  ">
                  <a class="page-link pointer" (click)="goToPage(pagedResponse?.pageNumber + 1)">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>  -->
        
        
        <div class="col col-md-12 d-flex justify-content-between">
          <div class="col-md-3">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
              >Số lượng:
            </label>
            <select
              class="custom-select my-1 mr-sm-2 col-md-5"
              id="inlineFormCustomSelectPref"
              (change)="onChangePageSize()"
              [(ngModel)]="pageSize"
            >
              >
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
          <div>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li
                  class="page-item"
                  [ngClass]="pagedResponse?.pageNumber == 1 ? 'disabled' : ''"
                >
                  <a
                    [hidden]="pagedResponse?.pageNumber == 1"
                    class="page-link pointer"
                    (click)="
                      goToPage(
                        pagedResponse?.pageNumber - 1,
                        pageSize,
                        search
                      )
                    "
                    >Previous</a
                  >
                </li>
                <li
                  class="page-item"
                  *ngFor="let page of pagedResponse?.pageNumberArr"
                >
                  <a
                    class="page-link pointer"
                    [ngClass]="
                      pagedResponse?.pageNumber == page ? 'active' : ''
                    "
                    (click)="goToPage(page, pageSize, search)"
                    >{{ page }}</a
                  >
                </li>
                <li class="page-item">
                  <a
                    [hidden]="
                      pagedResponse?.pageNumber ==
                        pagedResponse?.pageNumberArr.length ||
                      pagedResponse?.pageNumberArr.length == 0
                    "
                    class="page-link pointer"
                    (click)="
                      goToPage(
                        pagedResponse?.pageNumber + 1,
                        pageSize,
                        search
                      )
                    "
                    >Next</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal chi tiet kh -->
<div class="modal fade" id="formDetailKH" tabindex="-1" role="dialog" aria-labelledby="formDetail" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formDetail">Thông tin khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-khach-hang-detail [khChiTiet]="khachHangDetail">
        </app-khach-hang-detail>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>