<!-- Order product -->
<div class="row gutters">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header d-flex">
        <h4 class="mr-auto">Thông tin sản phẩm</h4>
        <div class="ml-auto">
          <button
            type="button"
            class="btn btn-primary btn-rounded"
            [disabled]="
              hoaDon.loaiHoaDon == 'TAI_QUAY' ||
              hoaDon.trangThai == 'HOAN_THANH' ||
              hoaDon.trangThai == 'TRA_HANG' ||
              hoaDon.trangThai == 'DANG_GIAO' ||
              hoaDon.trangThai == 'HUY' ||
              hoaDon.trangThai == 'CHO_HOAN_TIEN' ||
              hoaDon.trangThai == 'DA_HOAN_TIEN' ||
              isGiaoHangAndChuyenKhoan(hoaDon)
            "
            data-toggle="modal"
            data-target="#addProductModal"
          >
            <i class="fa-solid fa-plus"></i>
            Thêm sản phẩm
          </button>
        </div>
      </div>

      <div class="card-body">
        <!-- <table
          id="rowSelection_wrapper"
          class="table dataTables_wrapper dt-bootstrap4 no-footer rounded"
        >
          
        </table> -->
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Hình ảnh</th>
                  <th>Tên sản phẩm</th>
                  <th>Size</th>
                  <th>Màu sắc</th>
                  <th>Giá bán</th>
                  <th>Số lượng</th>
                  <th>Tổng tiền</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hdct of hoaDon.hoaDonChiTiets; index as i">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <app-product-image
                      [url]="hdct.sanPhamChiTiet.hinhAnhs[0].imageUrl"
                    ></app-product-image>
                  </td>
                  <td>{{ hdct.sanPhamChiTiet.sanPham.ten }}</td>
                  <td>{{ hdct.sanPhamChiTiet.kichCo.ten }}</td>
                  <td>{{ hdct.sanPhamChiTiet.mauSac.ten }}</td>
                  <td>
                    {{ hdct.giaBan | currency : "đ " : "symbol" : "1.0-0" }}
                  </td>
                  <td>
                    <!-- Quantity -->
                    <div class="d-flex">
                      <button
                        class="btn btn-outline-dark btn-rounded p-1"
                        (click)="minus(hdct)"
                        *ngIf="hoaDon.loaiHoaDon == 'GIAO_HANG'"
                        [disabled]="
                          hoaDon.trangThai == 'HOAN_THANH' ||
                          hoaDon.trangThai == 'HUY' ||
                          hoaDon.trangThai == 'TRA_HANG' ||
                          hoaDon.trangThai == 'DANG_GIAO' ||
                          hoaDon.trangThai == 'CHO_HOAN_TIEN' ||
                          hoaDon.trangThai == 'DA_HOAN_TIEN' ||
                          isGiaoHangAndChuyenKhoan(hoaDon)
                        "
                      >
                        <i class="fa-solid fa-minus"></i>
                      </button>
                      <input
                        type="number"
                        class="text-center form-control"
                        [(ngModel)]="hdct.soLuong"
                        min="0"
                        step="1"
                        style="width: 50px"
                        [(ngModel)]="hdct.soLuong"
                        (change)="inputSoLuong(hdct, $event)"
                        [disabled]="
                          hoaDon.loaiHoaDon == 'TAI_QUAY' ||
                          hoaDon.trangThai == 'HOAN_THANH' ||
                          hoaDon.trangThai == 'HUY' ||
                          hoaDon.trangThai == 'TRA_HANG' ||
                          hoaDon.trangThai == 'DANG_GIAO' ||
                          hoaDon.trangThai == 'CHO_HOAN_TIEN' ||
                          hoaDon.trangThai == 'DA_HOAN_TIEN' ||
                          isGiaoHangAndChuyenKhoan(hoaDon)
                        "
                      />
                      <button
                        class="btn btn-outline-dark btn-rounded p-1"
                        (click)="plus(hdct)"
                        *ngIf="hoaDon.loaiHoaDon == 'GIAO_HANG'"
                        [disabled]="
                          hoaDon.trangThai == 'HOAN_THANH' ||
                          hoaDon.trangThai == 'HUY' ||
                          hoaDon.trangThai == 'TRA_HANG' ||
                          hoaDon.trangThai == 'DANG_GIAO' ||
                          hoaDon.trangThai == 'CHO_HOAN_TIEN' ||
                          hoaDon.trangThai == 'DA_HOAN_TIEN' ||
                          isGiaoHangAndChuyenKhoan(hoaDon)
                        "
                      >
                        <i class="fa-solid fa-plus"></i>
                      </button>
                    </div>
                  </td>

                  <td>
                    {{
                      hdct.soLuong * hdct.giaBan
                        | currency : "đ " : "symbol" : "1.0-0"
                    }}
                  </td>
                  <td>
                    <button
                      class="btn btn-outline-light btn-rounded"
                      *ngIf="hoaDon.loaiHoaDon == 'GIAO_HANG'"
                      [disabled]="
                        hoaDon.hoaDonChiTiets.length <= 1 ||
                        hoaDon.trangThai == 'HOAN_THANH' ||
                        hoaDon.trangThai == 'HUY' ||
                        hoaDon.trangThai == 'TRA_HANG' ||
                        hoaDon.trangThai == 'DANG_GIAO' ||
                        hoaDon.trangThai == 'CHO_HOAN_TIEN' ||
                        hoaDon.trangThai == 'DA_HOAN_TIEN' ||
                        isGiaoHangAndChuyenKhoan(hoaDon)
                      "
                      (click)="deleteHDCT(hdct.id)"
                    >
                      <i class="fa-solid fa-trash text-danger"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row gutters">
              <div class="col-md-6 col-sm-12">
                <table class="table plain" *ngIf="hoaDon.phieuGiamGia != null">
                  <tbody>
                    <tr>
                      <td>
                        <p class="text-left">Phiếu giảm giá:</p>
                        <p class="text-left">Giá trị:</p>
                      </td>
                      <td>
                        <p class="text-left fw-bold">
                          {{ hoaDon.phieuGiamGia.maPhieuGiamGia }}
                        </p>
                        <p
                          class="text-left fw-bold"
                          *ngIf="hoaDon.phieuGiamGia.kieu == 0"
                        >
                          {{ hoaDon.phieuGiamGia.giaTri + "%" }}
                        </p>
                        <p
                          class="text-left fw-bold"
                          *ngIf="hoaDon.phieuGiamGia.kieu == 1"
                        >
                          {{
                            hoaDon.phieuGiamGia.giaTri
                              | currency : "đ " : "symbol" : "1.0-0"
                          }}
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6 col-sm-12">
                <table class="table plain">
                  <tbody>
                    <tr>
                      <td>
                        <p class="text-right">Tổng tiền hàng</p>
                        <p class="text-right">Giảm giá</p>
                        <p class="text-right">Phí vận chuyển</p>
                        <p class="text-right">Tổng tiền</p>
                      </td>
                      <td>
                        <p class="text-right">
                          <strong>{{
                            hoaDon.tongTien
                              | currency : "đ " : "symbol" : "1.0-0"
                          }}</strong>
                        </p>

                        <p class="text-right">
                          <strong>{{
                            hoaDon.tienGiam
                              | currency : "đ " : "symbol" : "1.0-0"
                          }}</strong>
                        </p>
                        <p class="w-25 ml-auto">
                          <app-input-number
                            *ngIf="hoaDon.loaiHoaDon == 'GIAO_HANG'"
                            [value]="hoaDon.phiVanChuyen"
                            [disabled]="
                              isGiaoHangAndChuyenKhoan(hoaDon) ||
                              hoaDon.trangThai == 'CHO_HOAN_TIEN' ||
                              hoaDon.trangThai == 'DA_HOAN_TIEN'
                            "
                            (valueChange)="onPhiVanChuyenChange($event)"
                          ></app-input-number>
                        </p>
                        <hr
                          style="border: 0; height: 2px; background-color: #000"
                        />
                        <p class="text-right text-danger">
                          <strong>{{
                            hoaDon.tongTien -
                              hoaDon.tienGiam +
                              hoaDon.phiVanChuyen
                              | currency : "đ " : "symbol" : "1.0-0"
                          }}</strong>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="addProductModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <app-search-product-detail
            (chooseProduct)="addHDCT($event)"
          ></app-search-product-detail>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            OK
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!--End Order product -->

<!-- <div class="input-group input-group-sm">
  <span class="input-group-prepend">
    <button
      type="button"
      class="btn btn-outline-secondary btn-number"
      (click)="minus(hdct)"
      *ngIf="hoaDon.loaiHoaDon == 'GIAO_HANG'"
      [disabled]="
        hoaDon.trangThai == 'HOAN_THANH' ||
        hoaDon.trangThai == 'HUY' ||
        hoaDon.trangThai == 'DANG_GIAO'
      "
    >
      <span class="fa fa-minus"></span>
    </button>
  </span>
  <input
    type="number"
    min="1"
    class="form-control input-number w-50"
    [(ngModel)]="hdct.soLuong"
    (change)="inputSoLuong(hdct, $event)"
    [disabled]="
      hoaDon.loaiHoaDon == 'TAI_QUAY' ||
      hoaDon.trangThai == 'HOAN_THANH' ||
      hoaDon.trangThai == 'HUY' ||
      hoaDon.trangThai == 'DANG_GIAO'
    "
  />
  <span class="input-group-append">
    <button
      type="button"
      class="btn btn-outline-secondary btn-number"
      (click)="plus(hdct)"
      *ngIf="hoaDon.loaiHoaDon == 'GIAO_HANG'"
      [disabled]="
        hoaDon.trangThai == 'HOAN_THANH' ||
        hoaDon.trangThai == 'HUY' ||
        hoaDon.trangThai == 'DANG_GIAO'
      "
    >
      <span class="fa fa-plus"></span>
    </button>
  </span>
</div> -->
