<section style="margin-bottom: 120px">
  <div class="px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Bee Shirt <br />
            <span style="color: #ffc107">Đẹp trong từng thước vải</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Bee Shirt đang tạo ra những bộ trang phục sản xuất trong nước hoàn
            toàn có thể sánh ngang với các thương hiệu thời trang nam đến từ
            nước ngoài về kiểu dáng, chất lượng lẫn phong cách thời trang.” -
            CEO Bee Shirt
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="form-container">
            <h3 class="title">Đăng Kí</h3>
            <form
              class="form-horizontal row border border-secondary rounded p-3"
              [formGroup]="signUpForm"
            >
              <!-- Họ tên -->
              <div class="form-group col-6">
                <label>Họ tên:</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Họ tên"
                  formControlName="hoTen"
                  [ngClass]="
                    signUpForm.get('hoTen').invalid &&
                    signUpForm.get('hoTen').touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('hoTen').hasError('customRequired')"
                >
                  Họ tên không được bỏ trống
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('hoTen').hasError('pattern')"
                >
                  Họ tên không đúng định dạng
                </div>
              </div>

              <!-- Email -->
              <div class="form-group col-6">
                <label>Email:</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  formControlName="email"
                  [ngClass]="
                    signUpForm.get('email').invalid &&
                    signUpForm.get('email').touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('email').hasError('customRequired')"
                >
                  Email không được bỏ trống
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('email').hasError('pattern')"
                >
                  Email không hợp lệ
                </div>
              </div>

              <!-- Ngày sinh -->
              <div class="form-group col-6">
                <label>Ngày sinh:</label>
                <input
                  type="date"
                  class="form-control"
                  placeholder="Ngày sinh"
                  formControlName="ngaySinh"
                  [ngClass]="
                    signUpForm.get('ngaySinh').invalid &&
                    signUpForm.get('ngaySinh').touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('ngaySinh').hasError('required')"
                >
                  Ngày sinh không được bỏ trống
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('ngaySinh').hasError('invalidDate')"
                >
                  Trước ngày hiện tại
                </div>
              </div>

              <!-- Giới tính -->
              <div class="form-group mb-3 col-6">
                <label class="mb-1">Giới tính:</label>
                <select class="form-control" formControlName="gioiTinh">
                  <option [value]="true">Nam</option>
                  <option [value]="false">Nữ</option>
                </select>
              </div>

              <!-- Số điện thoại -->
              <div class="form-group col-6">
                <label>Số điện thoại:</label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="
                    signUpForm.get('sdt').invalid &&
                    signUpForm.get('sdt').touched
                      ? 'is-invalid'
                      : ''
                  "
                  placeholder="Số điện thoại"
                  formControlName="sdt"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('sdt').hasError('required')"
                >
                  SĐT không được bỏ trống
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('sdt').hasError('pattern')"
                >
                  SĐT không hợp lệ
                </div>
              </div>

              <!-- Mật khẩu -->
              <div class="form-group col-6">
                <label>Mật khẩu:</label>
                <input
                  [type]="pwdInputType ? 'text' : 'password'"
                  class="form-control"
                  placeholder="Mật khẩu"
                  formControlName="matKhau"
                  [ngClass]="
                    signUpForm.get('matKhau').invalid &&
                    signUpForm.get('matKhau').touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <span
                  class="badge text-bg-secondary pointer mt-2"
                  (click)="togglePwdInputType()"
                  >{{
                    pwdInputType ? "Ẩn mật khẩu" : "Hiển thị mật khẩu"
                  }}</span
                >
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('matKhau').hasError('required')"
                >
                  Mật khẩu không được bỏ trống
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    signUpForm.get('matKhau').hasError('pwdPattern') &&
                    !signUpForm.get('matKhau').hasError('required')
                  "
                >
                  Mật khẩu phải dài ít nhất 8 ký tự, chỉ gồm chữ cái không dấu
                  và chữ số, phải có ít nhất 1 chữ cái hoa và 1 chữ số, không ký
                  tự đặc biệt
                </div>
              </div>

              <!-- địa chỉ -->
              <h4>Địa chỉ:</h4>
              <!-- Tỉnh/Thành phố -->
              <div class="form-group col-6">
                <label>Tỉnh/Thành phố:</label>
                <select
                  class="form-control"
                  (change)="getAllDistrictsByProvince()"
                  formControlName="tinh"
                  [ngClass]="
                    signUpForm.get('tinh').invalid &&
                    signUpForm.get('tinh').touched
                      ? 'is-invalid'
                      : ''
                  "
                >
                  <option value="">Chọn Tỉnh/Thành phố</option>
                  <option *ngFor="let p of provinces" [value]="p.ProvinceName">
                    {{ p.ProvinceName }}
                  </option>
                </select>
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('tinh').hasError('required')"
                >
                  Tỉnh/Thành phố không được bỏ trống
                </div>
              </div>

              <!-- Quận/Huyện -->
              <div class="form-group col-6 mb-3">
                <label class="mb-1">Quận/Huyện:</label>
                <select
                  class="form-control"
                  (change)="getAllWardsByDistrict()"
                  formControlName="huyen"
                  (click)="checkProvinceSelection()"
                  [ngClass]="
                    signUpForm.get('huyen').invalid &&
                    signUpForm.get('huyen').touched
                      ? 'is-invalid'
                      : ''
                  "
                >
                  <option value="" selected>Chọn quận huyện</option>
                  <option
                    *ngFor="let d of districts"
                    value="{{ d.DistrictName }}"
                  >
                    {{ d.DistrictName }}
                  </option>
                </select>
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('huyen').hasError('required')"
                >
                  Quận/Huyện không được bỏ trống
                </div>
              </div>

              <!-- Phường/Xã -->
              <div class="form-group col-6 mb-3">
                <label class="mb-1">Phường/Xã:</label>
                <select
                  class="form-control"
                  formControlName="xa"
                  (click)="checkDistrictSelection()"
                  [ngClass]="
                    signUpForm.get('xa').invalid && signUpForm.get('xa').touched
                      ? 'is-invalid'
                      : ''
                  "
                >
                  <option value="" selected>Chọn phường xã</option>
                  <option *ngFor="let w of wards" [value]="w.WardName">
                    {{ w.WardName }}
                  </option>
                </select>
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('xa').hasError('required')"
                >
                  Phường/Xã không được bỏ trống
                </div>
              </div>

              <!--  -->
              <div class="form-group col-6">
                <label>Số nhà-đường/Địa chỉ cụ thể:</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Địa chỉ cụ thể"
                  formControlName="duong"
                  [ngClass]="
                    signUpForm.get('duong').invalid &&
                    signUpForm.get('duong').touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('duong').hasError('customRequired')"
                >
                  Địa chỉ cụ thể không được bỏ trống
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="signUpForm.get('duong').hasError('pattern')"
                >
                  Địa chỉ cụ thể không đúng định dạng
                </div>
              </div>

              <!-- <div class="check-terms">
                <input
                  id="acceptPolicy"
                  type="checkbox"
                  class="checkbox me-1"
                  name="acceptPolicy"
                />
                <label class="check-label" for="acceptPolicy"
                  >Tôi chấp nhận điều khoản quyền riêng tư và bảo mật
                </label>
              </div> -->

              <span class="signin-link mt-3"
                >Bạn đã có tài khoản?
                <a [routerLink]="'/log-in'">Đăng nhập</a></span
              >
              <div
                class="text-center"
                [title]="
                  signUpForm.invalid ? 'Vui lòng điền đầy đủ thông tin' : ''
                "
              >
                <button
                  class="btn btn-success signup mt-3"
                  (click)="signUp()"
                  style="width: 200px"
                  [disabled]="signUpForm.invalid"
                >
                  Đăng ký
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
