<app-main-heading [icon]="'fa-solid fa-shirt'" [mainHeading]="'Phiếu Giảm Giá'"
  [title]="'Phiếu Giảm Giá'"></app-main-heading>
<!-- Row start -->

<div class="row gutters">

  <div class="row gutters mt-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4 class="float-md-left">Bộ lọc</h4>
        </div>
        <div class="card-body pt-4">
          <!-- Filter start -->
          <div class="row gutters">
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="" class="form-control rounded"
                  placeholder="Tìm phiếu giảm giá theo mã hoặc theo tên" (keyup)="timKiem($event)"  [(ngModel)]="search">
              </div>

            </div>

            <div class="row pt-3 pb-3">

              <div class="col-md-2">
                <label for="">Từ Ngày</label>
                <input type="Date" name="" class="form-control rounded" placeholder="Từ ngày"
                  [(ngModel)]="thoiGianBatDau" (change)="onChangeFilter()">
              </div>
              <div class="col-md-2">
                <label for="">Tới Ngày</label>
                <input type="Date" name="" class="form-control rounded" placeholder="Đến ngày"
                  [(ngModel)]="thoiGianKetThuc" (change)="onChangeFilter()">
              </div>

              <div class="col-md-2">
                <label for="">Loại</label>
                <div>
                  <select class="custom-select" [(ngModel)]="loai" (change)="onChangeFilter()">
                    <option [ngValue]="[0,1]">Tất Cả</option>
                    <option [ngValue]="[1]">Công Khai</option>
                    <option [ngValue]="[0]">Cá Nhân</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2">
                <label for="">Kiểu</label>
                <div>
                  <select class="custom-select" [(ngModel)]="kieu" (change)="onChangeFilter()">
                    <option [ngValue]="[0,1]">Tất Cả</option>
                    <option [ngValue]="[0]">%</option>
                    <option [ngValue]="[1]">Tiền Mặt</option>
                  </select>
                </div>
              </div>

              <div class="col-md-2">
                <label for="">Trạng Thái</label>
                <div>
                  <select class="custom-select" [(ngModel)]="trangThai" (change)="onChangeFilter()">
                    <option [ngValue]="['Đang diễn ra','Sắp diễn ra','Đã kết thúc']">Tất Cả</option>
                    <option value="Sắp diễn ra">Sắp diễn ra</option>
                    <option value="Đang diễn ra">Đang diễn ra</option>
                    <option value="Đã kết thúc">Đã kết thúc</option>
                  </select>
                </div>
              </div>

              <!-- Thêm nút xóa bộ lọc -->
              <div class="col-md-1 btnFilter">

                <div>
                  <button class="btn btnReload btn-rounded btn-reload-filter" (click)="reloadFilter()"> <i
                      class="fa-solid fa-arrows-rotate"></i></button>
                </div>
              </div>

              <div class="col-md-1 btnFilter">

                <div>
                  <button class="btn btn-create rounded" routerLink="/phieu-giam-gia/them-phieu">Tạo Mới</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Filter End -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">


    <div class="card">
      <div class="card-header">Phiếu giảm giá</div>
      <div class="card-body">
        <!-- TABLE -->
        <table class="table">
          <thead class="thead-default tbaleHead">
            <tr>
              <th>STT</th>
              <th>Mã</th>
              <th>Tên</th>
              <th>Kiểu</th>
              <th>Loại</th>
              <th>Giá Trị </th>
              <th>Giá Trị Tối Đa </th>
              <th>Số Lượng</th>
              <th>Điều Kiện </th>
              <th>Ngày Bắt Đầu</th>
              <th>Ngày Kết Thúc</th>
              <th>Trạng Thái</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pgg of pagedResponse?.data; let i = index">
              <th scope="row">{{ (i + 1) * pagedResponse.pageNumber }}</th>
              <td>{{ pgg.maPhieuGiamGia }}</td>
              <td>{{ pgg.tenPhieuGiamGia }}</td>
              <td>{{ pgg.kieu == 0?"%":"Tiền Mặt" }}</td>
              <td>{{ pgg.loai == 1?"Công Khai":"Cá Nhân" }}</td>
              <td>{{ formatCurrencyGiaTri(pgg.giaTri) }}</td>
              <td>{{ pgg.giaTriMax == null?"0":formatCurrency( pgg.giaTriMax )}}</td>
              <td>{{ pgg.soLuong }}</td>
              <td>{{ formatCurrency(pgg.dieuKienGiam)}}</td>
              <td>{{ pgg.thoiGianBatDau | date:"dd-MM-yyyy HH:mm:ss" }}</td>
              <td>{{ pgg.thoiGianKetThuc | date:"dd-MM-yyyy HH:mm:ss" }}</td>
              <td>
                <div [ngStyle]="{
                    'padding': '10px',
                    'border-radius': '30px',
                    'color': 'white',
                    'background-color': getColorByStatus(pgg.trangThai)
                }">
                  {{ pgg.trangThai }}
                </div>
              </td>
              <td>
                <button class="btn btn-outline-dark btn-rounded" id="button" data-toggle="modal"
                  data-target="#updateAnhModal" data-whatever="@mdo" (click)="openDetailsForm(pgg.id)"
                 >
                  <i class="fa-solid fa-circle-info fa-xl" id="icon-button-detail"></i>
                </button>

                <button class="btn btn-outline-warning btn-rounded" title="Cập nhật"
                  routerLink="/phieu-giam-gia/sua-phieu/{{pgg.id}}" [hidden]="pgg.trangThai === 'Đã kết thúc'">
                  <i class="fa-solid fa-pen-to-square" style="color: #ffd43b"></i>
                </button>

              </td>
            </tr>
          </tbody>
        </table>
        <!--  -->

        <!--End table-->

        <div class="row">
          <div class="col col-md-12 d-flex justify-content-between">
            <div class="col-md-3">
              <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Số lượng:
              </label>
              <select class="custom-select my-1 mr-sm-2 col-md-5" id="inlineFormCustomSelectPref"
              (change)="onChangePageSize()"
              [(ngModel)]="pageSize"
                >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
              </select>
            </div>
            <div class="">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li
                    class="page-item"
                    [ngClass]="pagedResponse?.pageNumber == 1 ? 'disabled' : ''"
                  >
                    <a
                      [hidden]="pagedResponse?.pageNumber == 1"
                      class="page-link pointer"
                      (click)="
                        goToPage(
                          pagedResponse?.pageNumber - 1,
                          pageSize,
                          search
                        )
                      "
                      >Previous</a
                    >
                  </li>
                  <li
                    class="page-item"
                    *ngFor="let page of pagedResponse?.pageNumberArr"
                  >
                    <a
                      class="page-link pointer"
                      [ngClass]="
                        pagedResponse?.pageNumber == page ? 'active' : ''
                      "
                      (click)="goToPage(page, pageSize, search)"
                      >{{ page }}</a
                    >
                  </li>
                  <li class="page-item">
                    <a
                      [hidden]="
                        pagedResponse?.pageNumber ==
                          pagedResponse?.pageNumberArr.length ||
                        pagedResponse?.pageNumberArr.length == 0
                      "
                      class="page-link pointer"
                      (click)="
                        goToPage(
                          pagedResponse?.pageNumber + 1,
                          pageSize,
                          search
                        )
                      "
                      >Next</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Row ends -->




<div
  class="modal"
  id="updateAnhModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin phiếu giảm giá</h1>
        <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">
          X
        </button>
      </div>
      <div class="modal-body">
        <app-chi-tiet-phieu [phieuDetails]="phieuDetails"></app-chi-tiet-phieu>

      </div>

      
  </div>
</div>
<!-- Modal Form Detail ends -->