<footer class="mg-0 pd-bt-50-mb">
  <div class="form-mail container">
    <p class="title-regis">Đăng kí nhận tin</p>

    <div>
      <input
        type="email"
        required="required"
        autocomplete="on"
        id="contact_email"
        placeholder="Email"
      />
      <button class="dangKy" type="submit">Đăng ký</button>
    </div>

    <div class="social-icon">
      <ul class="social-footer d-flex d-flex-center">
        <!-- <li class="zalo"><a href="//zalo.me/3664144181122308942" rel="nofollow"><img width="30" height="30" src="https://i.imgur.com/j2cJrvL.png" alt="Liên hệ với chúng tôi qua Zalo"></a></li> -->
        <!-- <li class="zalo"><a href="//zalo.me/3664144181122308942" rel="nofollow"><img width="30" height="30" src="https://i.imgur.com/4Ab1a9A.png" alt="Liên hệ với chúng tôi qua Zalo"></a></li> -->
        <!-- <li class="zalo"><a href="//zalo.me/3664144181122308942" rel="nofollow"><img width="30" height="30" src="https://i.imgur.com/LbtyTJH.png" alt="Liên hệ với chúng tôi qua Zalo"></a></li> -->
      </ul>
    </div>
  </div>
  <hr class="container" />

  <div class="top-ft-wanda">
    <div class="container">
      <div class="d-flex row">
        <div class="col-md-3 col-sm-6 col-xs-12 infomation mg-bottom-15">
          <div class="title-footer">
            <div class="h4">Giới thiệu</div>
          </div>
          <div class="infomation-wanda info_one">
            <p>BEE Shirt - Chuỗi Phân Phối Thời Trang Nam Chuẩn Hiệu</p>
            <ul>
              <!--	<li><i class="fa fa-map-marker" aria-hidden="true"></i> </li> -->
              <li>
                ☎<a rel="nofollow" href="tel:0345262229">0345.26.22.29</a>
              </li>
              <li>
                ✉
                <a rel="nofollow" href="mailto:Binhpvph29510@fpt.edu.vn"
                  >Binhpvph29510@fpt.edu.vn</a
                >
              </li>
              <li>
                📞 <a rel="nofollow">Wholesale Contact: 0345262229 (ZALO)</a>
              </li>
              <li>📞 <a rel="nofollow">Giờ mở cửa : 08:30 - 22:00</a></li>
              <li class="bocongthuong">
                <a
                  rel="nofollow"
                  href="http://online.gov.vn/Home/WebDetails/99500?AspxAutoDetectCookieSupport=1"
                  ><img
                    class="dt-width-auto"
                    width="100"
                    height="40"
                    src="https://file.hstatic.net/200000397757/file/dathongbao_48067cd02fae41b68bf0294777c39c94_compact.png"
                /></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 tablink mg-bottom-15">
          <div class="title-footer">
            <div class="h4">CHÍNH SÁCH</div>
          </div>
          <div class="footer-link-wanda infomation-wanda footer-click">
            <ul>
              <li>
                <a href="#">Hướng dẫn đặt hàng</a>
              </li>
              <li>
                <a href="#">Thông tin chuyển khoản</a>
              </li>
              <li>
                <a href="#"
                  >Chính Sách Ưu Đãi Sinh Nhật</a
                >
              </li>
              <li>
                <a href="#"
                  >Chính Sách Khách Hàng Thân Thiết</a
                >
              </li>
              <li>
                <a href="#"
                  >Chính Sách Giao Hàng</a
                >
              </li>
              <li>
                <a href="#"
                  >Chính Sách Bảo Mật</a
                >
              </li>
              <li>
                <a href="#"
                  >Chính Sách Đổi Hàng Và Bảo Hành</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 tablink mg-bottom-15">
          <div class="title-footer">
            <div class="h4">TƯ VẤN</div>
          </div>
          <div class="footer-link-wanda infomation-wanda footer-click">
            <ul>
              <li><a href="#">Tư vấn phong cách</a></li>
              <li><a href="#">Tư vấn chọn size</a></li>
              <li><a href="#">Hỏi đáp</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="title-footer">
            <div class="h4">Fanpage chúng tôi</div>
            <div id="fb-root"></div>
            <iframe
              src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D61553011754411&tabs=timeline&width=340&height=100&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId"
              width="330"
              height="100"
              style="border: none; overflow: hidden"
              scrolling="no"
              frameborder="0"
              allowfullscreen="true"
              allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            ></iframe>

            <div class="payment-methold">
              <div class="h4">PHƯƠNG THỨC THANH TOÁN</div>
              <div class="footer-payment">
                <img
                  src="https://file.hstatic.net/1000253775/file/visa_new_37bf1b79c3374c34ab31dd9775d83691.jpg"
                  width="50px"
                  height="30px"
                  alt="Image Visa"
                />
                <img
                  src="https://file.hstatic.net/1000253775/file/master_new_638b0cf1af794545a6e4d9a2765f2333.jpg"
                  width="50px"
                  height="30px"
                  alt="Image Master"
                />
                <img
                  src="https://file.hstatic.net/1000253775/file/shoppy_new_18600e8ad9f64537b7e31d009457e215.jpg"
                  width="50px"
                  height="30px"
                  alt="Image Spay"
                />
                <img
                  src="https://file.hstatic.net/1000253775/file/vnpay_new_ec21c03b2f4c49689d180c8a485c8d5b.jpg"
                  width="50px"
                  height="30px"
                  alt="Image VNPay"
                />
                <img
                  src="https://file.hstatic.net/1000253775/file/cod_new_2316cf8e29bd4a858810a3d7b9eb39e4.jpg"
                  width="50px"
                  height="30px"
                  alt="Image Cod"
                />
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-wanda">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="text-copyright mb-0">
                <span>BẢN QUYỀN THUỘC VỀ BEESHIRT</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
