<div class="row gutters">
  <div class="col-sm-12">
    <form class="card">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="row img-row">
                <div class="col d-flex justify-content-center">
                  <!-- image -->
                  <img
                    *ngIf="nhanVienDetails?.imageUrl; else defaultImage"
                    [src]="nhanVienDetails?.imageUrl"
                    alt=""
                  />
                  <ng-template #defaultImage>
                    <img
                      src="assets/img/default-image.jpg"
                      alt="Default Image"
                    />
                  </ng-template>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              CCCD
              <input
                type="text"
                class="form-control"
                placeholder="CCCD"
                [value]="nhanVienDetails?.cccd"
                [disabled]="true"
              />

              <div class="form-group">
                Ngày sinh
                <input
                  type="date"
                  class="form-control"
                  placeholder="Ngày sinh"
                  [value]="nhanVienDetails?.ngaySinh"
                  [disabled]="true"
                />
              </div>

              <!-- SĐT -->
              <div class="form-group">
                Số điện thoại
                <input
                  type="text"
                  class="form-control"
                  placeholder="Số điện thoại"
                  [value]="nhanVienDetails?.sdt"
                  [disabled]="true"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!-- họ tên -->
              <div class="form-group">
                Họ tên
                <input
                  type="text"
                  class="form-control"
                  placeholder="Họ tên"
                  [value]="nhanVienDetails?.hoTen"
                  [disabled]="true"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Giới tính </label> <br />
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios"
                    [checked]="nhanVienDetails?.gioiTinh"
                    disabled="true"
                  />
                  <label class="form-check-label"> Nam </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios"
                    [checked]="!nhanVienDetails?.gioiTinh"
                    disabled="true"
                  />
                  <label class="form-check-label"> Nữ </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- email -->
            <div class="col-md-6">
              <div class="form-group">
                Email
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  [value]="nhanVienDetails?.email"
                  [disabled]="true"
                />
              </div>
            </div>
            <!-- địa chỉ -->
            <div class="col-md-6">
              <div class="form-group">
                Địa chỉ
                <input
                  type="text"
                  class="form-control"
                  placeholder="Địa chỉ"
                  [value]="nhanVienDetails?.diaChi"
                  [disabled]="true"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                Ngày tạo
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ngày tạo"
                  [value]="nhanVienDetails?.createdAt"
                  [disabled]="true"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                Người tạo
                <input
                  type="text"
                  class="form-control"
                  placeholder="Người tạo"
                  [value]="nhanVienDetails?.createdBy"
                  [disabled]="true"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                Ngày sửa gần nhất
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ngày sửa gần nhất"
                  [value]="nhanVienDetails?.updatedAt"
                  [disabled]="true"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                Người sửa gần nhất
                <input
                  type="text"
                  class="form-control"
                  placeholder="Người sửa gần nhất"
                  gần
                  nhất
                  [value]="nhanVienDetails?.lastUpdatedBy"
                  [disabled]="true"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <!-- <div class="col-md-6"> -->
            <!-- tên đăng nhập -->
            <!-- <div class="form-group">
                Tên đăng nhập
                <input
                  type="text"
                  class="form-control"
                  placeholder="Tên đăng nhập"
                  [value]="nhanVienDetails?.tenDangNhap"
                  [disabled]="true"
                />
              </div>
            </div> -->
          </div>
        </form>
      </div>
    </form>
  </div>
</div>
