<div class="container mb-5 mt-5">
  <div class="row">
    <div class="wrapperChucNang col-md-3">
      <app-profile-sidebar></app-profile-sidebar>
    </div>
    <div class="wrapperTaiKhoan col-md-8 p-3">
      <div>
        <div>
          <div class="account-setting-form">
            <div class="account-page-title">
              <h1 class="title">Thông tin tài khoản</h1>
            </div>
            <form [formGroup]="form">
              <div class="form-group form-gender">
                <div class="label">Giới tính</div>
                <div class="control">
                  <label for="radio1"
                    ><input
                      type="radio"
                      name="gioiTinh"
                      id="radio1"
                      [value]="true"
                      formControlName="gioiTinh"
                    />
                    <span>Nam</span></label
                  >
                  <label for="radio2"
                    ><input
                      type="radio"
                      name="gioiTinh"
                      id="radio2"
                      [value]="false"
                      formControlName="gioiTinh"
                    />
                    <span>Nữ</span></label
                  >
                </div>
              </div>

              <!-- Họ tên -->
              <div class="form-group active">
                <label>Họ tên:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="hoTen"
                  [ngClass]="
                    form.get('hoTen').invalid && form.get('hoTen').touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="form.get('hoTen').hasError('customRequired')"
                >
                  Họ tên không được bỏ trống
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="form.get('hoTen').hasError('pattern')"
                >
                  Họ tên không đúng định dạng
                </div>
              </div>

              <!-- SĐT -->
              <div class="form-group active">
                <label>Số điện thoại:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="sdt"
                  [ngClass]="
                    form.get('sdt').invalid && form.get('sdt').touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="form.get('sdt').hasError('customRequired')"
                >
                  SĐT không được bỏ trống
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    form.get('sdt').hasError('pattern') &&
                    !form.get('sdt').hasError('customRequired')
                  "
                >
                  SĐT không đúng định dạng
                </div>
              </div>

              <div class="form-group active">
                <label>Email (readonly):</label>
                <input
                  readonly
                  type="text"
                  class="form-control"
                  formControlName="email"
                />
              </div>

              <!-- Ngày sinh -->
              <div class="form-group active">
                <label>Ngày sinh:</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="ngaySinh"
                  [ngClass]="
                    form.get('ngaySinh').invalid && form.get('ngaySinh').touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                <div
                  class="invalid-feedback"
                  *ngIf="form.get('ngaySinh').hasError('required')"
                >
                  Ngày sinh không được bỏ trống
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="form.get('ngaySinh').hasError('invalidDate')"
                >
                  Ngày sinh phải sau ngày hiện tại
                </div>
              </div>

              <div class="form-group active">
                <label>Tên đăng nhập (readonly):</label>
                <input
                  readonly
                  type="text"
                  class="form-control"
                  formControlName="tenDangNhap"
                />
              </div>

              <div class="form-button text-center">
                <button
                  class="btn btn-primary"
                  (click)="updateInfor()"
                  style="width: 200px"
                  [disabled]="form.invalid"
                >
                  Lưu thay đổi
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
