<div class="slide-container swiper">
  <div class="demo1">
    <span
      ><img
        width="20"
        height="20"
        src="https://file.hstatic.net/1000253775/file/flash_c1195bb7597344909c3a855990d45510.png"
        alt="FLASH SALE"
      />FLASH SALE
    </span>

    <!-- <div class="sale-time">
      <div class="countdown-item hour">
        <p>{{ hoursDisplay }}</p>
        <span>Giờ</span>
      </div>
      <div class="countdown-item minute">
        <p>{{ minutesDisplay }}</p>
        <span>Phút</span>
      </div>
      <div class="countdown-item second">
        <p>{{ secondsDisplay }}</p>
        <span>Giây</span>
      </div>
    </div> -->
  </div>

  <section class="policy-product">
    <div class="container">
      <owl-carousel-o [options]="dotGiamGiaProduct">
        <ng-template
          carouselSlide
          *ngFor="let sp of saleProducts"
          style="background-color: black"
        >
          <div class="product">
            <div class="product-thumbnail">
              <a class="image_thumb">
                <img [src]="sp?.sanPhamChiTiets[0]?.hinhAnhs[0]?.imageUrl" />
              </a>
              <div class="saleProduct">{{ sp.saleEvent.giaTriPhanTram }} %</div>
            </div>

            <!-- <div class="details">
              <h3 class="nameProduct">
                <a [routerLink]="'/san-pham/' + sp.id">{{ sp.ten }}</a>
              </h3>
              <p class="priceProduct">{{ displayPrice(sp) }}</p>
              <div class="swatch-color-wrapper mb-3">
                <div
                  data-value="Đen"
                  class="swatch-element active"
                  *ngFor="let color of getMauSacList(sp)"
                >
                  <img class="img-color" [src]="color.image.imageUrl" />
                </div>
              </div>
            </div> -->

            <div class="details">
              <h3 class="nameProduct">
                <a [routerLink]="'/san-pham/' + sp.id">{{ sp.ten }}</a>
              </h3>

              <p class="priceProduct" *ngIf="sp.saleEvent">
                <s>{{ displayPrice(sp) }}</s>
              </p>
              <p class="priceProduct text-danger" *ngIf="sp.saleEvent">
                {{ displayDiscountPrice(sp) }}
              </p>
              <p class="priceProduct" *ngIf="!sp.saleEvent">
                {{ displayPrice(sp) }}
              </p>

              <div class="swatch-color-wrapper">
                <div
                  class="swatch-element"
                  *ngFor="let color of getMauSacList(sp)"
                >
                  <img class="img-color" [src]="color.image.imageUrl" />
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </section>
</div>
