.product {
  margin-left: 25px;
}

.nameProduct {
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  font-size: 14px;
  font-weight: 400;
  margin: 0 0 5px;
  line-height: 18px;
  height: 18px;
}

.nameProduct:hover {
  color: #fcaf17;
}

.nameProduct a {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}
.nameProduct a:hover {
  color: #fcaf17;
}

.priceProduct {
  font-weight: bold;
}

.nameProduct {
  height: 36px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: initial;
}

.image_thumb {
  display: block;
  position: relative;
  overflow: hidden;
  background: #f2f2f2;
  padding-bottom: 133%;
  transition: all 0.5s;
  border-radius: 5px;
  height: 300px;
}

.image_thumb img {

  transition: all 0.9s ease;
}
.image_thumb img:hover {
  transform: scale(1.2);
}

.product-thumbnail {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 4px;
}

.saleProduct{
  position: absolute;
  top: 0;
  padding: 5px 15px;
  background-color: red;
  color: white;
  border-bottom-right-radius: 40%;
}



.swatch-color-wrapper {
  display: flex;
}

.swatch-element {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.img-color {
  width: 100%;
}

.btnAdd {
  width: 100%;
}



/* Thời Gian Sale */

.sale-time {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 10px;
}

.demo1 {
  display: flex;
  justify-content: space-between;
}

.demo1 > span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  color: black;
}

.sale-time div {
  font-size: 20px;
  font-weight: 500;

  background-color: #000000;
  padding: 7px;
  border-radius: 5px;
  text-align: center;
}

.countdown-item {
  display: inline-block;
  margin-right: 10px;
  /* Khoảng cách giữa các phần tử */
}

.countdown-item p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}

.countdown-item span {
  font-size: 14px;
  font-weight: 200;
  color: #ffffff;
}
