<app-main-heading
  [icon]="'fa-solid fa-shirt'"
  [mainHeading]="'Kiểu Thiết Kế'"
  [title]="'Kiểu Thiết Kế'"
></app-main-heading>

<div class="row gutters pt-2">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-2">
          Danh sách kiểu thiết kế ({{ pagedResponse?.totalElements }})
        </h3>
        <div>
          <div class="col col-md-12 d-flex">
            <div class="input-group form-group search-block">
              <input
                type="search"
                class="form-control rounded"
                placeholder="Tìm kiểu thiết kế theo tên..."
                [(ngModel)]="searchKeyword"
                (input)="searchByName()"
              />
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-right">
              <button
                type="button"
                class="btn btn-create btn-lg rounded"
                title="Thêm mới"
                data-bs-toggle="modal"
                data-bs-target="#thietKeAddForm"
                (click)="initAddForm()"
              >
                Thêm mới <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="pagedResponse?.data.length > 0">
          <table class="table">
            <thead class="thead-default">
              <tr>
                <th width="10%">STT</th>
                <th width="20%">Tên</th>
                <th width="15%">Trạng Thái</th>
                <th width="15%">Ngày Thêm</th>
                <th width="15%">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tk of pagedResponse?.data; let i = index">
                <th scope="row">
                  {{
                    i +
                      1 +
                      (pagedResponse.pageNumber - 1) * pagedResponse.pageSize
                  }}
                </th>
                <td>{{ tk.ten }}</td>
                <td>
                  <span
                    class="pointer"
                    [ngClass]="
                      tk.trangThai
                        ? 'btn btn-success btn-rounded'
                        : 'btn btn-danger btn-rounded'
                    "
                    (click)="changeStatus(tk.id)"
                    >{{ tk.trangThai ? "Khả dụng" : "Không khả dụng" }}</span
                  >
                </td>
                <td>{{ tk.createdAt }}</td>
                <td>
                  <button
                    class="btn btn-outline-light btn-rounded me-2"
                    title="Xem chi tiết"
                    data-bs-toggle="modal"
                    data-bs-target="#thietKeDetailsForm"
                    (click)="openDetailsForm(tk.id)"
                  >
                    <i
                      class="fa-solid fa-circle-info fa-xl"
                      style="color: #74c0fc"
                    ></i>
                  </button>
                  <button
                    class="btn btn-outline-warning btn-rounded"
                    title="Cập nhật"
                    data-bs-toggle="modal"
                    data-bs-target="#thietKeUpdateForm"
                    (click)="openUpdateForm(tk.id)"
                  >
                    <i
                      class="fa-solid fa-pen-to-square"
                      style="color: #ffd43b"
                    ></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="pagedResponse?.data.length === 0">
          <h3 class="text-center"><i>Không có dữ liệu!</i></h3>
        </div>
      </div>
      <div class="card-footer" *ngIf="pagedResponse?.data.length > 0">
        <div class="col col-md-12 d-flex justify-content-between">
          <div class="col-md-3">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
              >Số lượng:
            </label>
            <select
              class="custom-select my-1 mr-sm-2 col-md-5"
              id="inlineFormCustomSelectPref"
              (change)="onChangePageSize($event)"
            >
              >
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
          <div class="">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li
                  class="page-item"
                  [ngClass]="pagedResponse?.pageNumber == 1 ? 'disabled' : ''"
                >
                  <a
                    class="page-link pointer rounded"
                    (click)="
                      goToPage(
                        pagedResponse?.pageNumber - 1,
                        pagedResponse?.pageSize,
                        searchKeyword
                      )
                    "
                    >Previous</a
                  >
                </li>
                <li
                  class="page-item"
                  *ngFor="let pageNumber of pagedResponse?.pageNumberArr"
                >
                  <a
                    class="page-link pointer rounded"
                    [ngClass]="
                      pagedResponse?.pageNumber == pageNumber ? 'active' : ''
                    "
                    (click)="
                      goToPage(
                        pageNumber,
                        pagedResponse?.pageSize,
                        searchKeyword
                      )
                    "
                    >{{ pageNumber }}</a
                  >
                </li>
                <li
                  class="page-item"
                  [ngClass]="
                    pagedResponse?.pageNumber == pagedResponse?.totalPages
                      ? 'disabled'
                      : ''
                  "
                >
                  <a
                    class="page-link pointer rounded"
                    (click)="
                      goToPage(
                        pagedResponse?.pageNumber + 1,
                        pagedResponse?.pageSize,
                        searchKeyword
                      )
                    "
                    >Next</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal: add -->
<div
  class="modal fade"
  id="thietKeAddForm"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Thêm mới kiểu thiết kế</h1>
      </div>
      <form [formGroup]="addForm">
        <div class="modal-body">
          <div class="form-row">
            <label for="inputEmail4">Tên kiểu thiết kế:</label>
            <input
              type="text"
              class="form-control rounded"
              [ngClass]="
                addForm.get('ten').invalid && addForm.get('ten').touched
                  ? 'is-invalid'
                  : ''
              "
              formControlName="ten"
            />
            <div
              class="invalid-feedback"
              *ngIf="addForm.get('ten').hasError('customRequired')"
            >
              Tên không được bỏ trống
            </div>
            <div
              class="invalid-feedback"
              *ngIf="addForm.get('ten').hasError('pattern')"
            >
              Tên không hợp lệ
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            id="closeBtn"
            type="button"
            class="btn btn-secondary rounded"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button
            type="button"
            class="btn btn-primary rounded"
            [disabled]="addForm.invalid"
            (click)="add()"
          >
            Thêm
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal: details -->
<div
  class="modal fade"
  id="thietKeDetailsForm"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Chi tiết kiểu thiết kế
        </h1>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-row">
            <label for="inputEmail4">Tên kiểu thiết kế:</label>
            <input
              type="text"
              class="form-control"
              [value]="selectedDetails?.ten"
              disabled
            />
          </div>
          <div class="form-row">
            <label for="inputEmail4">Ngày tạo:</label>
            <input
              type="text"
              class="form-control"
              [value]="selectedDetails?.createdAt"
              disabled
            />
          </div>
          <div class="form-row">
            <label for="inputEmail4">Người tạo:</label>
            <input
              type="text"
              class="form-control"
              [value]="selectedDetails?.createdBy"
              disabled
            />
          </div>
          <div class="form-row">
            <label for="inputEmail4">Ngày cập nhật gần nhất:</label>
            <input
              type="text"
              class="form-control"
              [value]="selectedDetails?.updatedAt"
              disabled
            />
          </div>
          <div class="form-row">
            <label for="inputEmail4">Người cập nhật gần nhất:</label>
            <input
              type="text"
              class="form-control"
              [value]="selectedDetails?.lastUpdatedBy"
              disabled
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal: update -->
<div
  class="modal fade"
  id="thietKeUpdateForm"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Cập nhật kiểu thiết kế
        </h1>
      </div>
      <form [formGroup]="updateForm">
        <div class="modal-body">
          <div class="form-row">
            <input type="hidden" formControlName="id" />
            <input type="hidden" formControlName="trangThai" />
            <label>Tên kiểu thiết kế:</label>
            <input
              type="text"
              class="form-control rounded"
              [ngClass]="
                updateForm.get('ten').invalid && updateForm.get('ten').touched
                  ? 'is-invalid'
                  : ''
              "
              formControlName="ten"
            />
            <div
              class="invalid-feedback"
              *ngIf="updateForm.get('ten').hasError('customRequired')"
            >
              Tên không được bỏ trống
            </div>
            <div
              class="invalid-feedback"
              *ngIf="updateForm.get('ten').hasError('pattern')"
            >
              Tên không hợp lệ
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            id="closeUpdateBtn"
            type="button"
            class="btn btn-secondary rounded"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button
            type="button"
            class="btn btn-primary rounded"
            [disabled]="updateForm.invalid"
            (click)="update()"
          >
            Cập nhật
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-overlay *ngIf="isLoadding" [text]="overlayText"></app-overlay>
