<div class="card">
  <h2 class="card-header d-flex justify-content-between">
    <div>{{ formHeader }}</div>
    <button (click)="resetForm()" class="btn btn-info rounded">Làm mới</button>
  </h2>
  <ng-template #suffixIconButton>
    <span nz-icon nzType="percentage" nzTheme="outline"></span>
  </ng-template>
  <div class="card-body">
    <form [formGroup]="form" (submit)="handleSubmit()">
      <div class="form-group row">
        <label class="col-sm-4 col-md-4 col-form-label col-form-label-sm"
          >Tên Đợt Giảm Giá:</label
        >
        <div class="col-sm-4 col-md-7">
          <input
            type="text"
            class="form-control form-control-sm"
            [className]="
              TenDotGiamGia.invalid && TenDotGiamGia.touched
                ? 'form-control form-control-sm is-invalid'
                : 'form-control form-control-sm'
            "
            placeholder="Tên Đợt Giảm Giá"
            formControlName="tenDotGiamGia"
            (change)="handleCheckNameRealTime()"
          />
          <div id="nameInvalid1" class="invalid-feedback">
            Tên không thể có kí tự đặc biệt
          </div>
          <div id="nameInvalid2" class="invalid-feedback">Tên không hợp lệ</div>
          <div id="nameInvalid3" class="invalid-feedback" style="display: none">
            Tên đã tồn tại
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-md-4 col-form-label col-form-label-sm"
          >Giá Trị Giảm (%):</label
        >
        <div class="col-sm-4 col-md-6">
          <input
            type="number"
            [className]="
              GiaTriPhanTram.invalid && GiaTriPhanTram.touched
                ? 'form-control form-control-md is-invalid'
                : 'form-control form-control-md'
            "
            placeholder="Giá Trị Giảm"
            formControlName="giaTriPhanTram"
          />
          <div class="invalid-feedback">
            Giá Trị Giảm không thể nhỏ hơn 5 và lớn hơn 100
          </div>
          <div class="invalid-feedback">Giá Trị Giảm không hợp lệ</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-md-4 col-form-label col-form-label-sm"
          >Ngày Bắt Đầu:</label
        >
        <div class="col-sm-4 col-md-7">
          <input
            type="datetime-local"
            [className]="
              NgayBatDau.invalid && NgayBatDau.touched
                ? 'form-control form-control-sm is-invalid'
                : 'form-control form-control-sm'
            "
            formControlName="thoiGianBatDau"
            (change)="handleChangeTime(NgayBatDau.value, NgayKetThuc.value)"
          />
          <div class="invalid-feedback">Ngày Bắt Đầu không hợp lệ</div>
          <div class="invalid-feedback">
            Ngày Bắt Đầu không thế là ngày trước ngày hiện tại
          </div>
          <div class="invalid-feedback">
            Ngày Bắt Đầu không được nhỏ hơn Ngày Kết Thúc
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-md-4 col-form-label col-form-label-sm"
          >Ngày Kết Thúc:</label
        >
        <div class="col-sm-4 col-md-7">
          <input
            type="datetime-local"
            [className]="
              NgayKetThuc.invalid && NgayKetThuc.touched
                ? 'form-control form-control-sm is-invalid'
                : 'form-control form-control-sm'
            "
            formControlName="thoiGianKetThuc"
            (change)="handleChangeTime(NgayBatDau.value, NgayKetThuc.value)"
          />
          <div class="invalid-feedback">Ngày Kết Thúc không hợp lệ</div>
          <div class="invalid-feedback">
            Ngày Kết Thúc phải bằng hoặc lớn hơn 5 phút trước thời điểm diễn ra
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button
          [routerLink]="'/dot-giam-gia/ds-dot-giam-gia'"
          class="btn btn-info rounded mr-2"
        >
          Quay Lại
        </button>
        <button
          type="button"
          class="btn btn-success rounded"
          [disabled]="form.invalid || dotGiamGiaRequest?.trangThai == 0"
          (click)="handleSubmit()"
        >
          {{ formButton }}
        </button>
      </div>
    </form>
  </div>
</div>
