.wrapperChucNang {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
}

.wrapperTaiKhoan {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  margin-left: 10px;
}

.account-page-title {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.account-page-title .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  display: block;
}

.pointer {
  cursor: pointer;
}
