<div class="container mb-5 mt-5">
  <div class="row">
    <div class="wrapperChucNang col-md-3">
      <app-profile-sidebar></app-profile-sidebar>
    </div>

    <div class="wrapperTaiKhoan col-md-8 p-3">
      <form class="row" [formGroup]="form">
        <div class="col-md-12">
          <div class="account-page-title">
            <h1 class="title">Đổi mật khẩu</h1>
          </div>
        </div>

        <!-- Mật khẩu cũ -->
        <div class="col-md-12">
          <div class="form-group active">
            <label>Mật khẩu cũ:</label>
            <input
              type="password"
              class="form-control"
              formControlName="oldPwd"
              [ngClass]="
                form.get('oldPwd').invalid && form.get('oldPwd').touched
                  ? 'is-invalid'
                  : ''
              "
              (input)="trimOldPwd()"
            />
            <div
              class="invalid-feedback"
              *ngIf="form.get('oldPwd').hasError('customRequired')"
            >
              Không được bỏ trống
            </div>
          </div>
        </div>

        <!-- Mật khẩu mới -->
        <div class="col-md-12">
          <div class="form-group active">
            <label>Mật khẩu mới:</label>
            <input
              [type]="pwdInputType ? 'text' : 'password'"
              class="form-control"
              formControlName="newPwd"
              [ngClass]="
                form.get('newPwd').invalid && form.get('newPwd').touched
                  ? 'is-invalid'
                  : ''
              "
              (input)="checkMatch()"
            />
            <span
              class="badge text-bg-secondary pointer mt-2"
              (click)="togglePwdInputType()"
              >{{ pwdInputType ? "Ẩn mật khẩu" : "Hiển thị mật khẩu" }}</span
            >
            <div
              class="invalid-feedback"
              *ngIf="form.get('newPwd').hasError('customRequired')"
            >
              Không được bỏ trống
            </div>
            <div
              class="invalid-feedback"
              *ngIf="
                form.get('newPwd').hasError('pwdPattern') &&
                !form.get('newPwd').hasError('customRequired')
              "
            >
              Mật khẩu phải dài ít nhất 8 ký tự, chỉ gồm chữ cái không dấu và
              chữ số, phải có ít nhất 1 chữ cái hoa và 1 chữ số, không ký tự đặc
              biệt
            </div>
          </div>
        </div>

        <!-- Xác nhận mật khẩu -->
        <div class="col-md-12">
          <div class="form-group active">
            <label>Xác nhận mật khẩu:</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmNewPwd"
              [ngClass]="
                (form.get('confirmNewPwd').invalid &&
                  form.get('confirmNewPwd').touched) ||
                !pwdMatch
                  ? 'is-invalid'
                  : ''
              "
              (input)="checkMatch()"
            />
            <div
              class="invalid-feedback"
              *ngIf="form.get('confirmNewPwd').hasError('customRequired')"
            >
              Không được bỏ trống
            </div>
            <div class="invalid-feedback" *ngIf="!pwdMatch">
              Xác nhận mật khẩu không đúng
            </div>
          </div>
        </div>

        <div class="form-button text-center col-md-12">
          <button
            class="btn btn-danger"
            style="width: 200px"
            (click)="changePassword()"
            [disabled]="form.invalid || !pwdMatch"
          >
            Lưu thay đổi
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
