<section class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col-md-6">
      <owl-carousel-o [options]="sanPhamCT" class="owl-theme owl-dot-custom">
        <ng-template carouselSlide *ngFor="let url of curImgUrls"
          ><img [src]="url" width="100%" class="small-img rounded"
        /></ng-template>
      </owl-carousel-o>
    </div>

    <div class="col-md-6">
      <h1 data-available="Còn hàng" class="green">
        {{ sanPham?.ten }}
      </h1>

      <div class="infoProduct">
        <div class="product-info d-flex">
          <div class="pro-sku ProductSku">
            <span>Mã SP: </span>
            <span class="sku-number title">{{ sanPham?.ma }}</span>
          </div>
        </div>
        <div *ngIf="curSaleEvent">
          <span
            ><s>{{ formatPrice(curPrice) }}</s>
            <b class="ms-2 text-danger"
              >{{ -curSaleEvent.giaTriPhanTram }}%</b
            ></span
          >
          <span class="priceProduct">{{
            formatPrice((curPrice * (100 - curSaleEvent?.giaTriPhanTram)) / 100)
          }}</span>
        </div>

        <div *ngIf="!curSaleEvent">
          <span class="priceProduct">{{ formatPrice(curPrice) }}</span>
        </div>
      </div>

      <!-- phiếu giảm giá -->
      <app-active-discounts-spct
        [discounts]="discounts"
      ></app-active-discounts-spct>

      <span
        >Màu Sắc:
        <strong>{{ colorsOfProduct[curColorIndex]?.ten }}</strong></span
      >
      <div>
        <img
          *ngFor="let color of colorsOfProduct; let i = index"
          [src]="color.image.imageUrl"
          class="imgColor me-1 pointer"
          [ngClass]="curColorIndex === i ? 'border border-secondary' : ''"
          (click)="changeColorIndex(i, color.id)"
          [title]="color?.ten"
        />
      </div>
      <!--  -->
      <div
        id="variant-swatch-1"
        class="swatch clearfix type-image"
        data-option="option2"
        data-option-index="1"
      >
        <div class="header">
          Kích thước:
          <span class="color-text">{{
            curSizesOfProduct[curSizeIndex]?.ten.split("-")[0]
          }}</span>
          <div class="size-chart">
            <img
              src="https://file.hstatic.net/200000525917/file/ruler-svg_74f5e49dbd8c4235a98dd991dcdfa38e.svg"
              width="15"
              height="15"
            />Hướng dẫn chọn size
          </div>
        </div>
        <div class="select-swap">
          <div
            class="n-sd swatch-element m is-size"
            *ngFor="let size of curSizesOfProduct; let sizeIndex = index"
            (click)="changeSizeIndex(sizeIndex, size.id)"
          >
            <input class="variant-1" type="radio" />
            <label [ngClass]="curSizeIndex === sizeIndex ? 'sd' : ''">
              <span>{{ size.ten.split("-")[0] }}</span>
              <img
                class="img-check"
                width="12"
                height="12"
                src="https://file.hstatic.net/200000525917/file/select-pro_e3e51c75e13340c1805618324bab59f0.png"
              />
            </label>

            <div class="popupover-size">
              <div class="wrapper-popupover"></div>
            </div>
          </div>
          <div class="m-1">Số lượng tồn: {{ curQuantity }}</div>
        </div>

        <div class="Buy mb-5">
          <div class="wrapper">
            <span class="minus pointer" (click)="minusQuantity()">-</span>
            <span
              class="num"
              style="
                border-right: 2px solid rgba(0, 0, 0, 0.2);
                border-left: 2px solid rgba(0, 0, 0, 0.2);
              "
              >{{ quantityToCart }}</span
            >
            <span class="plus pointer" (click)="plusQuantity()">+</span>
          </div>

          <button class="AddCard rounded" (click)="addToCart()">
            Thêm Vào Giỏ
          </button>
          <!-- <button class="Buynow rounded">Mua Ngay</button> -->
        </div>

        <div class="mb-5">
          <h5>Đặc điểm nổi bật</h5>
          <ul>
            <li>
              Kiểu dáng: &nbsp; &nbsp; <b>{{ form }}</b>
            </li>
            <li>
              Thiết kế: &nbsp; &nbsp; <b>{{ design }}</b>
            </li>
            <li>
              Cổ áo: &nbsp; &nbsp; <b>{{ collar }}</b>
            </li>
            <li>
              Tay áo: &nbsp; &nbsp; <b>{{ sleeve }}</b>
            </li>
            <li>
              Chất liệu: &nbsp; &nbsp; <b>{{ material }}</b>
            </li>
          </ul>
        </div>

        <!-- Chính sách -->
        <div class="product-single__policy">
          <div class="product-policy">
            <div class="product-policy__item">
              <div class="product-policy__icon">
                <img
                  width="45"
                  height="45"
                  src="https://file.hstatic.net/1000253775/file/z4635451118875_c98fff6e965c4957a2beef70df6df0f8_afcea78391a640c9bcef22ce88aca7d6.jpg"
                />
              </div>
              <span class="product-policy__title"
                >Trả hàng trong vòng 7 ngày
              </span>
            </div>
            <div class="product-policy__item">
              <div class="product-policy__icon">
                <img
                  width="45"
                  height="45"
                  src="https://file.hstatic.net/1000253775/file/z4635451151763_13f64ed25050f361cfb0a70fda62b2c2_efbb28df6328412b9200cd92a795396e.jpg"
                />
              </div>
              <span class="product-policy__title"
                >Miễn phí vận chuyển đơn từ 2000k
              </span>
            </div>
           
            <div class="product-policy__item">
              <div class="product-policy__icon">
                <img
                  width="45"
                  height="45"
                  src="https://file.hstatic.net/1000253775/file/z4635451140541_2b09e178f1b8b4763b266875fd2c8db6_8b536c9ae5e24c17961fdb906d3f5022.jpg"
                />
              </div>
              <span class="product-policy__title"
                >Hotline 0345.26.22.29 hỗ trợ từ 8h30-22h
              </span>
            </div>
            <div class="product-policy__item">
              <div class="product-policy__icon">
                <img
                  width="45"
                  height="45"
                  src="https://file.hstatic.net/1000253775/file/z4635451129712_78e0e70db6fffe43fbb9a3e680cb3ed0_a2b8379adf4843a4898c621b37c2b42a.jpg"
                />
              </div>
              <span class="product-policy__title">Giao hàng toàn quốc </span>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          style="color: black"
        >
          <b>MÔ TẢ</b>
        </button>
      </li>
    </ul>
    <div
      class="tab-content"
      id="myTabContent"
      style="border: 1px dashed #d9d9d9"
    >
      <div
        class="tab-pane fade show active p-5"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div [innerHTML]="sanPham?.moTa"></div>
      </div>
      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <img
          src="https://i.imgur.com/Nug0HQC.jpeg"
          alt="Chính sách giao hàng"
          style="max-width: 100%"
        />
      </div>
    </div>
  </div>
</section>
