<div class="std container">

    <div class="block-about-top"
        style="background-image: url(https://i.imgur.com/AprOWqy.png);">
    </div>

    <h1 class="title text-center">Bee Shirt - Khoác lên niềm vui gia đình Việt</h1>
    <p></p>

    <div class="row mt-5" >
        <div class="col-md-6">
            <p><img src="https://admin.canifa.com/media/wysiwyg/ve-canifa.png" alt="" style="width: 400px;"></p>
        </div>

        <div class="col-md-6" style="font-size: 16px;">
            <p><i>Bee Shirt 20 năm - Khoác lên niềm vui gia đình Việt</i></p>
            <p style="width: 400px;">Năm 1997, Công ty Cổ phần Thương mại và Dịch vụ Hoàng Dương được thành lập với mục đích chính ban đầu
                là hoạt động trong lĩnh vực sản xuất hàng thời trang xuất khẩu với các sản phẩm chủ yếu làm từ len
                và sợi.</p>
            <p style="width: 400px;">Năm 2001 thương hiệu thời trang Bee Shirt ra đời, tự hào trở thành một cột mốc đáng nhớ của doanh nghiệp
                Việt trong ngành thời trang.</p>
        </div>
    </div>

    
    <div class="row mt-3" >
        <div class="col-md-6" >
            <h2 class="title">Tầm nhìn và sứ mệnh</h2>
                <p><i >Mang đến niềm vui cho hàng triệu gia đình Việt</i> </p>
                <p style="width: 400px;">Bee Shirt hướng đến mục tiêu mang lại niềm vui mặc mới mỗi ngày cho hàng triệu người tiêu dùng Việt.
                    Chúng tôi tin rằng người dân Việt Nam cũng đang hướng đến một cuộc sống năng động, tích cực hơn.</p>
        </div>

        <div class="col-md-6" >
            <p><img src="https://admin.canifa.com/media/wysiwyg/Canifa-Casual-20208014-_1_.jpg" alt=""
                style="width: 400px;"></p>
        </div>
    </div>

    <div class="row mt-3" >
        <div class="col-md-6">
            <p><img src="https://admin.canifa.com/media/wysiwyg/Anh_gioi_thieu-02.jpg" alt="" style="width: 400px;">
            </p>
        </div>

        <div class="col-md-6" >
            <h2>Giá trị cốt lõi của Bee Shirt</h2>
                <p style="width: 400px;"><i >20 năm phát triển - Chúng tôi luôn tuân thủ những giá trị cốt lõi của mình.</i></p>
                <h3>Kinh doanh dựa trên giá trị thật:</h3>
                <p style="width: 400px;"> Bee Shirt thiết lập hệ thống tiêu chuẩn chất lượng quốc tế áp dụng trên tất cả quy trình quản lý và kiểm
                    soát chất lượng từ khâu chọn lọc nguyên phụ liệu cho đến khâu thiết kế và sản xuất (Oeko-tex, Cotton
                    USA, Woolmark,...).</p>
                
        </div>
    </div>


    <div class="row mt-3" >
        <div class="col-md-6">
            <p style="width: 400px;"><b><i>Đối tác xanh: </i></b>Bee Shirt chọn Cotton USA - đơn vị cung cấp nguyên liệu chính cho sản phẩm
                tại Bee Shirt, luôn nghiêm minh tuân thủ các chỉ số bền vững của nông nghiệp Mỹ: tiết kiệm nước, kỹ
                thuật “không làm đất” để bảo vệ đất trồng.</p>
        </div>

        <div class="col-md-6" >
            <p><img src="https://admin.canifa.com/media/wysiwyg/Anh_gioi_thieu-01.jpg" alt="" style="width: 400px;">
            </p>
                
        </div>
    </div>

    <div class="row mt-3" >
        <div class="col-md-6">
            <p><img src="https://admin.canifa.com/media/wysiwyg/len-long-cuu-uc-wool-mark.jpg" alt=""
                style="width: 400px;"></p>
        </div>

        <div class="col-md-6" >
            <p style="width: 400px;"><b><i>Sản phẩm xanh: </i></b>Bee Shirt đặc biệt chú trọng nghiên cứu, kiểm định chất lượng với nguyên
                liệu đầu vào và sản phẩm đầu ra, đáp ứng những yêu cầu khắt khe nhất của các chứng chỉ uy tín nhất
                thế giới (Oeko Tex, Woolmark, WD…)</p>
                
        </div>
    </div>



</div>