<div class="wrapperNav">
  <div class="main-header">
    <div id="topbar">
      <div class="marquee-topbar">
        <div class="item animation">
          <p><strong>🚛TRẢ HÀNG TRONG VÒNG 7 NGÀY</strong></p>
        </div>
        <div class="item">
          <p><strong>HÀNG NGÀN DEAL HỜI</strong></p>
        </div>

        <div class="item">
          <p><strong>CẢM ƠN BẠN ĐÃ GHÉ STORE</strong></p>
        </div>
      </div>
    </div>

    <div class="navMain1">
      <div class="container">
        <div class="mainHeader">
          <label for="nav_check" class="hamburger c">
            <div></div>
            <div></div>
            <div></div>
          </label>

          <div class="logo c" style="margin: 0">
            <img src="https://i.imgur.com/XlMdwHa.png" />
          </div>

          <div class="search">
            <app-search-product></app-search-product>
          </div>

          <div class="nav-account">
            <div class="taiKhoan hiddenWeb" (click)="togglePopup()">
              <div class="iconnav">
                <i class="iconUser bi bi-person"></i>
              </div>

              <div class="popUpDangNhap" *ngIf="isPopupShow && !isLoggedIn">
                <div>
                  <button class="btnDangNhap" [routerLink]="'/log-in'" style="color: white;">
                    Đăng Nhập
                  </button>
                  <button class="btnDangKy" [routerLink]="'/sign-up'">
                    Đăng Ký
                  </button>
                  <span class="theoDoiDonHang">
                    <a [routerLink]="'/tracking'">Theo dõi đơn hàng</a>
                  </span>
                </div>
              </div>

              <div class="popUpLogindone" *ngIf="isPopupShow && isLoggedIn">
                <div>
                  <div class="headerPopup">
                    <span class="nameCustomer"
                      ><span class="fw-normal">Xin chào</span>
                      {{ loggedCustomer?.hoTen }}</span
                    >
                  </div>

                  <ul class="listAction">
                    <li class="actionItem">
                      <a routerLink="profile/my-account">Thông tin tài khoản</a>
                    </li>
                    <li class="actionItem">
                      <a routerLink="profile/my-discounts">Ưu đãi của bạn</a>
                    </li>
                    <li class="actionItem">
                      <a routerLink="profile/my-orders">Đơn hàng của tôi</a>
                    </li>
                    <li class="actionItem">
                      <a routerLink="profile/my-addresses">Sổ địa chỉ</a>
                    </li>
                  </ul>

                  <div class="footerPopup">
                    <button class="btn btn-outline-danger" (click)="logout()">
                      Đăng Xuất
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!--  -->
            <div
              class="thongBao pointer"
              (click)="toggleNotices()"
              *ngIf="isLoggedIn"
            >
              <div class="iconnav">
                <i class="iconThongBao fa-solid fa-bell"></i>
                <span class="quantity1">{{ unreadNotifQuantity }}</span>
              </div>

              <div class="popUpThongBao" *ngIf="isNoticesShow && isLoggedIn">
                <div>
                  <div class="headerPopup">
                    <span style="color: black; font-weight: bold"
                      >Thông Báo</span
                    >
                  </div>

                  <div class="container-noti">
                    <a
                      class="notification notification-flush notification-unread"
                      *ngFor="let notif of notifications"
                    >
                      >
                      <div class="notification-avatar">
                        <div class="avatar avatar-2xl mr-3">
                          <div class="avatar-name rounded-circle">
                            <span>BEE</span>
                          </div>
                        </div>
                      </div>
                      <div class="notification-body">
                        <p class="mb-1" (click)="setIsRead(notif.id)">
                          <a
                            class="notif-link"
                            [routerLink]="notif.relatedUrl"
                            >{{ notif.content }}</a
                          >
                        </p>
                        <span class="notification-time"
                          ><span class="mr-1" role="img" aria-label="Emoji"
                            >💬</span
                          >{{ notif.time | date : "HH:mm dd-MM-yyyy" }}</span
                        >
                      </div>
                      <div>
                        <div
                          class="trangThai"
                          [ngClass]="notif.read ? 'in' : ''"
                        ></div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="gioHang" (click)="toggleCart()">
              <div class="iconnav">
                <i class="icongioHang bi bi-bag"></i>
                <span class="quantity" *ngIf="!isLoggedIn">{{
                  cartItemQuantity1
                }}</span>
                <span class="quantity" *ngIf="isLoggedIn">{{
                  cartItemQuantity2
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header-botton">
  <input type="checkbox" id="nav_check" hidden />

  <nav class="mainNav">
    <div class="logo">
      <img src="https://i.imgur.com/XlMdwHa.png" />
    </div>

    <ul style="margin: 0">
      <li>
        <a [routerLink]="'/homepage'">Trang Chủ</a>
      </li>
      <li>
        <a [routerLink]="'/trang-san-pham'">Sản Phẩm</a>
        <span class="header_new">New</span>
      </li>
      <li>
        <a href="/ve-chung-toi">Về Chúng Tôi</a>
      </li>
      <li>
        <a href="/lien-he">Liên Hệ</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="/log-in">Đăng Nhập</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="/sign-up">Đăng Kí</a>
      </li>
    </ul>
  </nav>
</div>

<!-- cart -->
<div class="cardgioHang" *ngIf="isCartShow">
  <div class="cart-header">
    <div>
      <span class="nameCart me-1">Giỏ Hàng</span>
      <i class="bi bi-cart2"></i>
    </div>
    <div class="closeShopping pointer" (click)="toggleCart()">
      <i class="bi bi-x-circle"></i>
    </div>
  </div>

  <!-- cart, check out: none log in -->
  <ul class="listCart" style="padding: 0" *ngIf="!isLoggedIn">
    <li class="cartItem" *ngFor="let ci of cartItems1">
      <div class="row">
        <div class="col-md-3 imgProductCart">
          <img
            [src]="ci.spct.hinhAnhs[0].imageUrl"
            style="height: 150px; object-fit: cover"
          />
          <div
            class="DeleteCart pointer"
            title="Xóa sản phẩm này khỏ giỏ hàng"
            (click)="deleteItemFromCart(ci, 1)"
          >
            <i class="bi bi-x-lg"></i>
          </div>
        </div>
        <div class="col-md-9">
          <span class="nameCartProduct">
            <a [routerLink]="'/san-pham/' + ci.spct.sanPham.id">
              {{ ci.spct.sanPham.ten }}
            </a>
          </span>
          <div class="ThuocTinh">
            <div class="color-cart">
              <img [src]="ci.spct.mauSac.image.imageUrl" />
            </div>
            <span class="line-info">|</span>
            <span class="sizeCart">
              Size: {{ ci.spct.kichCo.ten.split("-")[0] }}</span
            >
          </div>

          <div class="wrapperPrice mb-3">
            <div class="priceCart">
              <b> {{ formatPrice(ci.spct.giaBan * ci.soLuong) }}</b>
            </div>
            <div class="wrapper">
              <span class="minus pointer" (click)="updateQuantity1(ci, 'minus')"
                >-</span
              >
              <span
                class="num"
                style="
                  border-right: 2px solid rgba(0, 0, 0, 0.2);
                  border-left: 2px solid rgba(0, 0, 0, 0.2);
                "
                >{{ ci.soLuong }}</span
              >
              <span class="plus pointer" (click)="updateQuantity1(ci, 'plus')"
                >+</span
              >
            </div>
          </div>

          <div>
            <small>Số lượng tồn: {{ ci.spct.soLuongTon }}</small>
          </div>
        </div>
      </div>
    </li>

    <div class="text-center" *ngIf="cartItems1.length === 0">
      <i>Chưa có sản phẩm nào trong giỏ hàng</i>
    </div>
  </ul>

  <div class="checkOut" *ngIf="cartItems1.length > 0 && !isLoggedIn">
    <div class="thanhToan">
      <button
        class="btnThanhToan"
        routerLink="/check-out2"
        (click)="toggleCart()"
      >
        Thanh toán
      </button>
    </div>
  </div>

  <!-- cart, check out: log in -->
  <ul class="listCart" style="padding: 0" *ngIf="isLoggedIn">
    <li class="cartItem" *ngFor="let ci of cartItems2">
      <div class="row">
        <div class="col-md-3 imgProductCart">
          <img
            [src]="ci.spct.hinhAnhs[0].imageUrl"
            style="height: 200px; object-fit: cover"
          />
          <div
            class="DeleteCart pointer"
            title="Xóa sản phẩm này khỏ giỏ hàng"
            (click)="deleteItemFromCart(ci, 2)"
          >
            <i class="bi bi-x-lg"></i>
          </div>
        </div>
        <div class="col-md-9">
          <span class="nameCartProduct">
            <a [routerLink]="'/san-pham/' + ci.spct.sanPham.id">
              {{ ci.spct.sanPham.ten }}
            </a>
          </span>
          <div class="ThuocTinh">
            <div class="color-cart">
              <img [src]="ci.spct.mauSac.image.imageUrl" />
            </div>
            <span class="line-info">|</span>
            <span class="sizeCart">
              Size: {{ ci.spct.kichCo.ten.split("-")[0] }}</span
            >
          </div>

          <div class="wrapperPrice mb-3">
            <div class="priceCart">
              <div *ngIf="ci.spct.saleEvent">
                <p style="margin: 0">
                  <s> {{ formatPrice(ci.spct.giaBan * ci.soLuong) }}</s>
                </p>
                <p>
                  <b>
                    {{
                      formatPrice(
                        ((ci.spct.giaBan *
                          (100 - ci.spct.saleEvent.giaTriPhanTram)) /
                          100) *
                          ci.soLuong
                      )
                    }}</b
                  >
                </p>
              </div>

              <div *ngIf="!ci.spct.saleEvent">
                <b> {{ formatPrice(ci.spct.giaBan * ci.soLuong) }}</b>
              </div>
            </div>
            <div class="wrapper">
              <span
                class="minus pointer"
                (click)="updateQuantityOfLoggedCust(ci, 'minus')"
                >-</span
              >
              <span
                class="num"
                style="
                  border-right: 2px solid rgba(0, 0, 0, 0.2);
                  border-left: 2px solid rgba(0, 0, 0, 0.2);
                "
                >{{ ci.soLuong }}</span
              >
              <span
                class="plus pointer"
                (click)="updateQuantityOfLoggedCust(ci, 'plus')"
                >+</span
              >
            </div>
          </div>

          <div>
            <small>Số lượng tồn: {{ ci.spct.soLuongTon }}</small>
          </div>
        </div>
      </div>
    </li>

    <div class="text-center" *ngIf="cartItems2.length === 0">
      <i>Chưa có sản phẩm nào trong giỏ hàng</i>
    </div>
  </ul>

  <div class="checkOut" *ngIf="cartItems2.length > 0 && isLoggedIn">
    <div class="thanhToan">
      <button
        class="btnThanhToan"
        routerLink="/check-out"
        (click)="toggleCart()"
      >
        Thanh Toán
      </button>
    </div>
  </div>
</div>
