/* Top bar */
#topbar {
  background: #ffffff;
  font-size: 12px;
  color: #000000;
  overflow: hidden;
}

#topbar p {
  padding: 4px;
  margin-bottom: 0;
  text-align: center;
  color: #000000;
}

.marquee-topbar {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  position: relative;
  animation: marquee 30s linear infinite;
}

.item {
  font-size: 12px;
  padding-right: 60px;
  /* Khoảng cách giữa các item */
}

@keyframes marquee {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

@media (max-width: 1024px) {
  .marquee-topbar {
    animation: marquee 15s linear infinite;
  }
}

.marquee-topbar .item {
  flex: 0 0 calc(100% / 4);
  -ms-flexbox: 0 0 calc(100% / 4);
  white-space: nowrap;
}

@media (max-width: 767px) {
  .marquee-topbar .item {
    flex: 0 0 calc(100% / 4);
    -ms-flexbox: 0 0 calc(100% / 4);
  }
}

/* end top bar */

img {
  width: 100%;
}

.wrapperNav {
  position: sticky;
  top: 0;
  z-index: 998;
  background-color: white;
}

.navMain1 {
  background: black;
}

.iconUser {
  font-size: 35px;
  color: white;
  margin-right: 15px;
}

.icongioHang {
  font-size: 30px;
  color: white;
}

.iconThongBao {
  font-size: 30px;
  color: white;
}
.thongBao {
  margin-right: 15px;
}

.taiKhoan,
.gioHang,
.thongBao {
  display: flex;
}

.nav-account {
  display: flex;
  align-items: center;
}

.hiddenMobile {
  display: none !important;
}

.search {
  width: 50%;
}

.searchinput {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  outline: none;
  padding-left: 15px;
}

.taiKhoan {
  position: relative;
}

.thongBao {
  position: relative;
}
.popUpThongBao {
  position: absolute;
  width: 350px;
  height: 350px;
  bottom: -369px;
  background-color: #fff;
  box-shadow: 0px 6px 4px rgba(179, 179, 179, 0.25);
  padding: 5px;
}
.container-noti {
  height: 230px;
  overflow-y: auto;
}
.popUpThongBao:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px;
  border-color: transparent transparent #fff;
  position: absolute;
  z-index: 2;
  left: 12px;
  top: -5px;
}
.card-link {
  color: #2c7be5;
  text-decoration: none;
}

.popUpDangNhap {
  position: absolute;
  width: 240px;
  background-color: #fff;
  /* Màu nền trắng */
  height: 180px;
  bottom: -189px;
  padding: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 6px 4px rgba(179, 179, 179, 0.25);
}

.popUpDangNhap button {
  display: block;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
}

.btnDangNhap {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: black;
  text-transform: uppercase;
  padding: 9px 10px 9px 12px;
  border: 1px solid #000;
  margin-bottom: 15px;
  width: 100%;

  cursor: pointer;
}

.btnDangNhap a {
  text-decoration: none;
  color: #fff;
}

.btnDangKy {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: white;
  text-transform: uppercase;
  padding: 9px 10px 9px 12px;
  border: 1px solid #000;
  margin-bottom: 15px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.btnDangKy a {
  text-decoration: none;
  color: #000000;
}

.theoDoiDonHang a {
  text-decoration: none;
  color: #000;
}

.theoDoiDonHang a:hover {
  text-decoration: underline;
}

.popUpDangNhap:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px;
  border-color: transparent transparent #fff;
  position: absolute;
  z-index: 2;
  left: 12px;
  top: -5px;
}

.popUpLogindone {
  position: absolute;
  width: 240px;
  background-color: #fff;
  /* Màu nền trắng */
  height: 250px;
  bottom: -260px;
  padding: 10px;
  /* display: flex;
  justify-content: center; */
  box-shadow: 0px 6px 4px rgba(179, 179, 179, 0.25);
}

.popUpLogindone:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px;
  border-color: transparent transparent #fff;
  position: absolute;
  z-index: 2;
  left: 12px;
  top: -5px;
}

.quantity {
  background-color: #f50000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: -10px;
}

.quantity1 {
  background-color: #f50000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -7px;
  right: -10px;
}
.iconnav {
  position: relative;
}

.cardgioHang {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background: white;
  z-index: 1000;
  transition: 0.5s;
}

.cardgioHang .checkOut {
  position: absolute;
  bottom: 5%;
  width: 90%;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nameCart {
  font-size: 20px;
  font-weight: 500;
}
.bi-cart2 {
  font-size: 20px;
}
.bi-x-circle {
  font-size: 25px;
}

.TinhTien {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px 0;
  padding: 15px;
}
.thanhToan {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.btnThanhToan {
  width: 100%;
  height: 40px;
  border: none;
  background: #da291c;
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  border-radius: 4px;
}

.listCart {
  border-bottom: 1px dashed #000;
  height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
}
.listCart .cartItem {
  list-style: none;
  padding: 10px;
}
.listCart .cartItem img {
  border-radius: 5px;
}

.color-cart {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
}
.color-cart img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.nameCartProduct a {
  color: #333f48;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ThuocTinh {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sizeCart {
  padding-left: 15px;
}

.priceCart {
  font-size: 14px;
  color: #333f48;
  margin-right: 30px;
}

.wrapperPrice {
  display: flex;
  margin-top: 20px;
}

.wrapper {
  height: 20px;
  width: calc(30% - 15px);
  flex: 0 0 calc(30% - 15px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px dashed rgb(194, 194, 194);
  border-radius: 5px;
}

.wrapper span {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.imgProductCart {
  position: relative;
}

.DeleteCart {
  position: absolute;
  top: 0;
}

.nameCustomer {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #000;
  margin-bottom: 10px;
}

.headerPopup {
  padding: 10px;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listAction {
  padding: 5px;
  list-style: none;
}

.actionItem a {
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 6px 0;
  font-size: 15px;
  font-weight: 500;
}

.actionItem a:hover {
  text-decoration: underline;
}
.footerPopup {
  margin-top: 15px;
  border-top: 1px solid #cacaca;
  padding-top: 15px;
  font-style: normal;

  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
}
.footerPopup span {
  color: black;
}

/* CSS cho icon "Đăng Nhập" */
.nav-account .taiKhoan {
  cursor: pointer;
  /* Con trỏ khi rê chuột */
}

/* CSS cho icon "Giỏ Hàng" */
.nav-account .gioHang {
  cursor: pointer;
  /* Con trỏ khi rê chuột */
}

.tamTinh,
.total {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.total,
.giaGoc,
.chietKhau,
.save {
  display: flex;
  justify-content: end;
}

.total,
.save {
  color: #da291c;
}

.mainHeader {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.logo img {
  width: 120px;
}

nav .logo {
  display: none;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 50px;
}

nav ul li a {
  color: #000000;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.2s;

  text-decoration: none;
}

nav ul li a:hover {
  color: #ff0404;
}

.hamburger {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transform: 0.2s;
}

.hamburger div {
  width: 30px;
  height: 3px;
  margin: 6px 0;
  background: #ffffff;
}

@media only screen and (max-width: 1100px) {
  nav {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    z-index: 999;
    width: 280px;
    height: 100vh;
    background-color: #000000;
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }

  #nav_check:checked ~ nav {
    display: block;
    transition: 0.2s;
    right: 0;
  }

  nav .logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  nav ul li a {
    color: white;
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
  }

  nav ul li a:hover {
    background: #ffffff;
    color: #000000;
  }

  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }

  .hamburger {
    display: block;
  }

  .search {
    display: none;
  }
  .hiddenMobile {
    display: block !important;
  }
  .hiddenWeb {
    display: none !important;
  }
}

nav ul li:nth-child(2) {
  position: relative;
}

.header_new {
  position: absolute;
  top: 1px;
  right: -3px;
  font-size: 11px;
  color: #f50000;
  font-weight: 700;
}

.pointer {
  cursor: pointer;
}
.notification {
  color: #232e3c;
  text-decoration: none;
  background-color: #fff;
  display: flex;
  font-size: 0.83333rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.notification-unread {
  background-color: #edf2f9 !important;
}

.avatar .avatar-name {
  background-color: #000000;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 10px;
}

.notification-body {
  width: 80%;
}

.border-top {
  border-top: 1px solid #d8e2ef !important;
}
.card-footer {
  padding: 1rem 1.25rem;
  background-color: #fff;
  border-top: 0px solid #edf2f9;
}

.trangThai {
  height: 10px;
  width: 10px;
  background: #2c7be5;
  border-radius: 50%;
}

.in {
  display: none;
}

.notif-link {
  text-decoration: none;
  color: #232e3c;
}

.notif-link:hover {
  text-decoration: underline;
}
