<div class=" container " style="height: 600px; padding: 50px 0;">
 <h3>Liên Hệ</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="iFrameMap">
                <div id="contact_map" class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.2143836810524!2d106.30362791533123!3d20.94390409604465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31359b93265f5767%3A0x12119d049cdfd294!2zQ8O0bmcgdHkgY-G7lSBwaOG6p24gdGjhu51pIHRyYW5nIFlPRFk!5e0!3m2!1svi!2s!4v1635388113543!5m2!1svi!2s"
                        width="650" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="item-contact col-md-12">
                <div class="img">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="content-r">
                    Địa chỉ:
                    <p>
                        Công ty cổ phần Thời trang BEE SHIRT
                    </p>
                </div>
            </div>

            <div class="item-contact col-md-12">
                <div class="img">
                    <i class="fas fa-question"></i>
                </div>
                <div class="content-r">
                    Gửi thắc mắc:
                    <a href="mailto:chamsockhachhang@yody.vn">chamsockhachhang@beeshirt.vn</a>
                </div>
            </div>
            <div class="item-contact col-md-12">
                <div class="img">
                    <i class="fas fa-phone-alt"></i>
                </div>
                <div class="content-r">
                    Điện thoại:
                    <a class="fone" href="tel:0345262229">0345262229</a>
                </div>
            </div>

        </div>

      
       


    </div>
</div>