<app-main-heading
  [icon]="icon"
  [mainHeading]="mainHeading"
  [title]="title"
></app-main-heading>

<div class="row gutters">
  <div class="row gutters mt-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4 class="float-md-left">Bộ lọc</h4>
        </div>
        <div class="card-body pt-4">
          <!-- Filter start -->
          <div class="row gutters">
            <div class="col-md-5 col-12 pe-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="me-3"> Tìm kiếm: </label>
                </div>
                <input
                  #inputName
                  type="text"
                  class="form-control"
                  placeholder="Tìm kiếm theo tên hoặc sdt hoặc email"
                  (keyup)="timKiem($event)"
                  [(ngModel)]="search"
                />
              </div>
            </div>
            <div class="col-sm-3 col-12">
              <div class="input-group d-flex align-items-center">
                <div class="input-group-prepend">
                  <label class="me-3"> Giới tính: </label>
                </div>
                <select
                  [(ngModel)]="gioiTinhFilter"
                  class="custom-select"
                  (change)="onChangeFilter()"
                >
                  <!-- <option value="" disabled selected hidden>
                    Tất cả giới tính
                  </option> -->
                  <option [ngValue]="[0, 1]">Tất cả giới tính</option>
                  <option [ngValue]="[1]">Nam</option>
                  <option [ngValue]="[0]">Nữ</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3 col-12">
              <div class="input-group d-flex align-items-center">
                <div class="input-group-prepend">
                  <label class="me-3"> Trạng thái: </label>
                </div>
                <select
                  class="custom-select"
                  [(ngModel)]="trangThaiFilter"
                  (change)="onChangeFilter()"
                >
                  <option [ngValue]="[0, 1]">Tất cả trạng thái</option>
                  <option [ngValue]="[1]">Đang làm việc</option>
                  <option [ngValue]="[0]">Đã nghỉ việc</option>
                </select>
              </div>
            </div>

            <div class="col-1 ps-3">
              <button
                class="btn btn-create btn-rounded btn-reload-filter"
                (click)="reloadFilter()"
              >
                <i class="fa-solid fa-arrows-rotate"></i>
              </button>
            </div>
          </div>
          <!-- Filter End -->
        </div>
      </div>
    </div>
  </div>

  <div class="row gutters mt-3">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="float-md-left">Danh sách nhân viên</h4>

          <button
            type="button"
            class="btn btn-create btn-lg float-md-right rounded"
            routerLink="/nhan-vien/them-nhan-vien"
          >
            <span class="icon-user-plus"></span>
            Thêm nhân viên
          </button>
        </div>
        <div class="card-body">
          <!-- Table Start -->
          <table id="rowSelection" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>STT</th>
                <th>Mã NV</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>SĐT</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Trạng thái</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nv of pagedResponse?.data; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ nv.id }}</td>
                <td>{{ nv.hoTen }}</td>
                <td>{{ nv.ngaySinh | date : "dd-MM-yyyy" }}</td>
                <td>{{ nv.sdt }}</td>
                <td>{{ nv.gioiTinh ? "Nam" : "Nữ" }}</td>
                <td>{{ nv.email }}</td>
                <td>
                  <div class="">
                    <!-- <input
                      type="checkbox"
                      class="custom-control-input"
                      [id]="'trangThai' + nv.id"
                      [checked]="nv.trangThai"
                      (click)="deleteNV(nv.id)"
                    /> -->
                    <label
                      [class]="
                        nv.trangThai
                          ? 'btn btn-success btn-rounded'
                          : 'btn btn-secondary btn-rounded'
                      "
                      (click)="deleteNV(nv.id)"
                    >
                      {{ nv.trangThai ? "Đang làm việc" : "Đã Nghỉ việc" }}
                    </label>
                  </div>
                </td>

                <td>
                  <button
                    class="btn btn-outline-info btn-rounded"
                    id="button"
                    data-toggle="modal"
                    data-target="#formDetailButton"
                    data-whatever="@mdo"
                    (click)="openDetailsForm(nv.id)"
                  >
                    <i
                      class="fa-solid fa-circle-info fa-xl"
                      id="icon-button-detail"
                    ></i>
                  </button>

                  <button
                    class="btn btn-outline-warning btn-rounded mx-1"
                    routerLink="/nhan-vien/sua-nhan-vien/{{ nv.id }}"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>

                  <button
                    class="btn btn-outline-danger btn-rounded"
                    (click)="deleteNV(nv.id)"
                  >
                    <i class="fa-solid fa-arrows-rotate"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col col-md-12 d-flex justify-content-between">
            <div class="col-md-3">
              <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
                >Số lượng:
              </label>
              <select
                class="custom-select my-1 mr-sm-2 col-md-5"
                id="inlineFormCustomSelectPref"
                (change)="onChangePageSize()"
                [(ngModel)]="pageSize"
              >
                >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
              </select>
            </div>
            <div>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li
                    class="page-item"
                    [ngClass]="pagedResponse?.pageNumber == 1 ? 'disabled' : ''"
                  >
                    <a
                      [hidden]="pagedResponse?.pageNumber == 1"
                      class="page-link pointer"
                      (click)="
                        goToPage(
                          pagedResponse?.pageNumber - 1,
                          pageSize,
                          search
                        )
                      "
                      >Previous</a
                    >
                  </li>
                  <li
                    class="page-item"
                    *ngFor="let page of pagedResponse?.pageNumberArr"
                  >
                    <a
                      class="page-link pointer"
                      [ngClass]="
                        pagedResponse?.pageNumber == page ? 'active' : ''
                      "
                      (click)="goToPage(page, pageSize, search)"
                      >{{ page }}</a
                    >
                  </li>
                  <li class="page-item">
                    <a
                      [hidden]="
                        pagedResponse?.pageNumber ==
                          pagedResponse?.pageNumberArr.length ||
                        pagedResponse?.pageNumberArr.length == 0
                      "
                      class="page-link pointer"
                      (click)="
                        goToPage(
                          pagedResponse?.pageNumber + 1,
                          pageSize,
                          search
                        )
                      "
                      >Next</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <!-- Table End -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Form Detail start -->
  <div
    class="modal fade"
    id="formDetailButton"
    tabindex="-1"
    role="dialog"
    aria-labelledby="formDetail"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formDetail">Thông tin nhân viên</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-chi-tiet-nhan-vien
            [nhanVienDetails]="nhanVienDetails"
          ></app-chi-tiet-nhan-vien>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-rounded"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Form Detail ends -->

  <!-- 
  <select class="form-control mx-sm-4">
                <option
                  value=""
                  disabled
                  selected
                  hidden
                >
                  Chọn trạng thái
                </option>
                <option
                  *ngFor="let nv of listNhanVien"
                  [value]="nv.account.trangThai"
                >
                  {{ nv.account.trangThai }}
                </option>
              </select>
 -->
</div>
